[2016-11-26 05:03] gazpachoking opened #1 "Item Interface on Blood Altar Crash"
When I put an item interface onto a Blood Altar, from Blood Magic, I get the following crash:
[code]

[2016-11-26 09:16] #1 closed, assigned to nobody

[2016-11-26 17:31] gazpachoking commented on #1
Awesome, thanks!

[2016-11-28 11:27] b0bst3r opened #2 "[1.10.2] Crash placing Integrated Tunnel Fluid Interface below a ID Squeezer"
IntegratedDynamics-1.10.2-0.6.3
IntegratedTunnels-1.10.2-1.0.0

Place down Integrated Dynamics Squeezer
Place Fluid Interface from Integrated Tunnels under it
Results in the following crash - http://pastebin.ubuntu.com/23548128/

[2016-11-28 12:48] b0bst3r commented on #2
Can I also add that once placed the world will refuse to load and it crashes with the above error.

[2016-11-28 12:50] rubensworks commented on #2
Seems to be a duplicate of #1, which has been fixed but not released yet.
If you want, you can try out the latest dev build to see if this resolves your problem: https://dl.bintray.com/cyclopsmc/dev/org/cyclops/integratedtunnels/IntegratedTunnels/1.10.2-1.0.0-15/IntegratedTunnels-1.10.2-1.0.0-15.jar

[2016-11-28 13:00] b0bst3r commented on #2
Yeah that fixes it thanks.

[2016-11-28 13:00] #2 closed, assigned to nobody

[2016-11-30 21:34] gazpachoking opened #3 "Item request terminal?"
I'm not sure if it fits with your vision for the mod, but a special type of item exporter for manual user requests would be nice. Something that would give the player an interface showing all items in storage attached to interfaces on the network, and the ability to request those items, something like an ME terminal.

[2016-11-30 22:05] gazpachoking commented on #3
More thoughts: Maybe the request panel could be separate than the item exporter, and you could configure it to send to one of the item exporters on the network.
Some setups I'm imagining building, for context:
- Crafting Station:
  One of the mod crafting tables with integrated storage hooked up to an item exporter, a request panel near the table configured to send its requests to said item export

[2016-11-30 23:16] gazpachoking commented on #3
Okay, been thinking a bit more, and maybe most of my request is something for Integrated Dynamics rather than Tunnels. What I do think would be nice from tunnels is a way to get a few variables out, for example, the list of items in all attached item interfaces on a tunnel network (is that possible already? I looked a bit, couldn't find a way other than putting item readers on all the inventories

[2016-12-01 07:17] rubensworks commented on #3
This is indeed something that is still on the roadmap, somewhere.
It won't be implemented any time soon though...

[2016-12-03 05:03] Belgabor opened #4 "[1.0.0] Crossmod issue with Item Interface"
The Integrated Tunnels item interface does not work with a lot of inventories from other mods including Actually Additions inventories (Storage crates, item interface), Gendustry and ExU2 machines, Storage Drawers and others.
It seems to work if you use importers or exporters on them, just the (IT) item interface does not work.

[2016-12-03 15:51] rubensworks commented on #4
It seems the problem had nothing to do with other mod inventories.
I apparently just forgot to handle one edge-case.

[2016-12-03 15:51] #4 closed, assigned to nobody

[2016-12-10 01:11] Belgabor opened #5 "[1.0.1] Problem with fluid transmission"
I tried transferring canola oil from a ExU2 drum (interface) into an Actually Additions fermenting barrel (exporter) when this crash occurred. As I was not entirely sure if this is yours or @Ellpeck s, I took a brief look at his code and it seems ok to me, so I decided to post it here =)

It didn't happen immediately when I connected everything, so I suspect it happens as soon as the barrel makes

[2016-12-10 10:16] Ellpeck commented on #5
Yea, this doesn't make a whole lot of sense to me. The only place I do casting when transferring fluids is [here](https://github.com/Ellpeck/ActuallyAdditions/blob/1.10.2/src/main/java/de/ellpeck/actuallyadditions/mod/util/WorldUtil.java#L99), but there I do an instanceof check first.

[2016-12-10 10:19] Ellpeck commented on #5
Hang on, this is actually the capability IFluidHandler that something's trying to be casted to.
[This ](https://github.com/Ellpeck/ActuallyAdditions/blob/1.10.2/src/main/java/de/ellpeck/actuallyadditions/mod/util/WorldUtil.java#L111-L119)is the capability handling part, and as you can see, I myself don't cast anything.

[2016-12-10 18:19] Belgabor commented on #5
I think the cast is done by some magic in getCapability. To me it looks like something in IT/ID/CyclopsCore is not returning the right thing when the capability is requested or wrongfully claiming the capability is supported.

[2016-12-16 10:20] rubensworks commented on #5
Apparently fluid parts were exposing the wrong capability, fix incoming!

[2016-12-16 10:20] #5 closed, assigned to rubensworks

[2017-01-03 10:47] Daenara opened #8 "Cable connecting issue"
I noticed that the cable doesn't connect right if you put the last piece in between in Integrated Tunnels interface and the cable. It works if you put a piece of cable on the interface first, then connect it.

![1_cable_error](https://cloud.githubusercontent.com/assets/3619315/21605561/43fdc184-d1aa-11e6-8cde-f275860a2608.png)
![2_cable_connected](https://cloud.githubusercontent.com/assets/3619315

[2017-01-03 10:52] rubensworks commented on #8
Thanks for reporting this!
Moved the issue to Integrated Dynamics: https://github.com/CyclopsMC/IntegratedDynamics/issues/102

[2017-01-03 10:52] #8 closed, assigned to nobody

[2017-01-03 12:48] Daenara opened #9 "Also transfer EU"
While quite new to this mod I plan to use it to build me a sorting system. I play a custom modpack mostly with industrial craft and that's my main power mod. Since I plan to build quite a few ic2 machines in my network it would be great if I could transfer EU over there too so that I don't need to put extra cables everywhere.

I don't know if it's a feature that many will use or not and if it's ev

[2017-01-03 13:03] rubensworks commented on #9
If I would implement this, it would be separate from the existing energy interfaces/readers/writers.
This wouldn't be trivial though, since this mod is completely based on capabilities, and EU is interface-based.

But in the meantime, you could use [Energy Synergy](https://minecraft.curseforge.com/projects/energysynergy) to automatically convert between Forge Energy, Tesla, RF and EU.

[2017-01-03 13:31] Daenara commented on #9
I will try out Energy Synergy, if it does what I want it to I will ask my server admin to add it in. I somehow had a feeling that it's not as trivial as I thought, otherwise it would just be done already. It's a hassle that nearly every technic mod has it's own energy system to work with

[2017-01-03 13:34] rubensworks commented on #9
Energy Synergy will work as long as your setup does not require EU machines to actively push/pull energy themselves. It will only work of the cables (like Integrated Tunnels components) are able to push/pull energy to/from EU machines.

[2017-01-03 16:55] Daenara commented on #9
All ic2 machines I tested it with worked. Sadly all things from the ic2 addon Advanced Solar Panels don't work but they are not essential to what I want to do. Using Energy Synergy bypasses the power tiers of ic2 thought, so it would still be great if there was just a way to move EU through the network directly someday. For now it is a good solutino, thanks for the tip.

Daenara

[2017-01-07 05:20] xSparky911x opened #10 "TCon casting table crash"
Forge 2202
Integrated Tunnels 1.0.3
Integrated Dynamics 0.6.6

I had set up a simple Importer from a Tinkers smeltry casting table (with ingot cast) to a Crystal Chest. As soon as I added the card the game crashed.

http://pastebin.com/QzRpnKdz

[2017-01-07 10:54] rubensworks commented on #10
@xSparky911x It looks like TCon is emitting a `SidedInvWrapper` with either a `null` inventory or side, which causes the game to crash.
Could you report it to their issue tracker as well? There's not much I can do to fix this from my end.

[2017-01-07 16:22] xSparky911x commented on #10
K will do although when hooking up Ender Conduit to the same side of the same casting table rather than the Integrated Tunnels pipe all seems fine.

[2017-01-09 20:50] rubensworks commented on #10
Has been fixed on TCon's end.

[2017-01-09 20:50] #10 closed, assigned to rubensworks

[2017-01-10 12:51] dhagerich opened #11 "Crash when attaching to tinkers construct casting table or basin"
Whenever i try to add a blank variable card to an importer/exporter that has a tinkers construct casting table/basin attached to the network, the game crashes. I've attached the crash report for you.

[crash when adding variable to importer attached to tcon casting table.txt](https://github.com/CyclopsMC/IntegratedTunnels/files/696120/crash.when.adding.variable.to.importer.attached.to.tcon.casting

[2017-01-10 12:54] rubensworks commented on #11
Duplicate of #10, which has been fixed on TCon's end.

[2017-01-10 12:54] #11 closed, assigned to nobody

[2017-01-10 14:11] dhagerich commented on #11
sorry a bit tired here, I forget to check closed issues before i posted

[2017-01-11 20:30] Daenara opened #12 "IndustrialCraft2 Crop Matron (and possibly other machines)"
Sorry, me again. The IndustrialCraft2 people came up with a fix to make it work with mods that don't use interfaces anymore so transferring fluids works, well, in most cases. The Integrated Dynamics fluid reader registers all tested blocks with tanks correctly but the transport to the crop matron won't work. My guess it's because it has two inbuilt tanks. I tested on all sides of the block to rule

[2017-01-11 20:41] rubensworks commented on #12
Do other fluid transport mods work?
There shouldn't be a reason why machines with multiple internal tanks won't work, unless the machines blocks certain things, or I made a mistake somewhere...

[2017-01-11 20:48] Daenara commented on #12
I haven't tried another mod, I don't have one. If you could recommend one working on 1.10 I can try.

[2017-01-11 20:49] rubensworks commented on #12
ExtraUtils2 and EnderIO have fluid transfer pipes.

[2017-01-11 21:38] Daenara commented on #12
I couldn't get ExtraUtils2 to work at all but I managed to get EnderIo to work. I can't insert fluids to the crop matron with this either but I don't really get why. If I compare the output of a fluid reader stuck to a tank and one stuck to the crop matron the only difference (besides the size) is the number of tanks.

[2017-01-17 18:08] RheyvenFox opened #13 "Interfaces not Stacking"
When you remove an Interface from a pipe it keeps its ID. This fills your inventory up with non-stackable. You are unable to clear them either by placing them into a crafting slot to clear them or just removing them as normal.

[2017-01-17 18:17] rubensworks commented on #13
The ID assignment is intended. But I could indeed implement ID clearing by placing the item in your crafting grid.

[2017-01-17 18:21] RheyvenFox commented on #13
Awesome! It just clogs up the inventory rather quickly when you have multiple ones that you remove from an system. Thanks!

[2017-01-17 18:57] #13 closed, assigned to rubensworks

[2017-01-17 19:02] rubensworks commented on #13
Will be included in next Integrated Dynamics release.

[2017-01-20 19:14] rubensworks commented on #12
@Daenara What is the status on this? Has IC2 already been updated to support fluid capabilities?

[2017-01-21 17:58] Daenara commented on #12
I'm not sure what the fix they released contains because I don't know their apis but I can tell you that most blocks now work. What still doesn't work is the crop matron, I'm not sure if it's because of their fix or because of the multiple tanks in one block.

[2017-01-22 14:06] rubensworks commented on #12
Sounds like an issue on IC2's end then, since other fluid transfer mods are also not capable of inserting fluids.

Multiple tanks in a block shouldn't be an issue in general, unless the receiver machine blocks this.

[2017-01-22 14:06] #12 closed, assigned to nobody

[2017-01-24 15:23] Daenara commented on #12
They fixed it, so it was on their end.

[2017-01-28 10:20] Rue82 opened #14 "RF Transfer"
Not sure if I am just doing it wrong or if it is the version i am using but when i try and transfer RF into a machine from Actually Additions  or the Wireless RF battery from ExtraUtilities2. And I can't seem to transfer RF into the Energy Battery from a EnderIO Capacitor Bank. I am using IntegratedTunnels-1.10.2-1.0.3.jar. If this has been fixed in a more recent update please let me know.  Thanks

[2017-01-28 15:31] rubensworks commented on #14
Does this problem only occur with the EnderIO Capacitor Bank, or other RF storage blocks as well?

[2017-01-30 02:09] Rue82 commented on #14
It can not transfer into the ExtraUtilities2 Wireless battery, and cannot transfer into any Actually addition machines. And cannot accept energy from EnderIO Capacitor Banks but can transfer energy into the Capacitor Bank.  Testing other storage blocks in our pack to see if it has more issues.

[2017-02-01 00:26] ghost opened #15 "interface priority"
when setting an item interface priority and clicking save the interface does not store the priority.

Confirmed this behaviour by inspecting the nbt data. It also appears that the frequency is not stored either.

[2017-02-01 06:59] rubensworks commented on #15
Sounds similar to CyclopsMC/IntegratedDynamics#64.

[2017-02-01 07:05] Rue82 commented on #14
Ok so i got it to accept energy from the EnderIO Capacitor but still can not get it to transfer into any Actually Additions machines or the ExtraUtilities2 wireless battery.

[2017-02-03 10:04] rubensworks commented on #15
Will be fixed in the new Integrated Dynamics version.

[2017-02-03 10:04] #15 closed, assigned to nobody

[2017-02-06 05:42] Claycorp opened #16 "CurseForge links to Integrated Dynamics are Bad/Broken."
First link uses a redirect URL and not the Curseforge URL. Thus making people think they are leaving curseforge when they are not.
Second Link is an invalid link to nothing.

You might want to double check your links everywhere if they are copy pasted.

[2017-02-06 07:40] rubensworks commented on #16
Yeah, for some reason Curseforge likes to change their URL strategy without adding proper redirects...

[2017-02-08 00:50] Claycorp opened #17 "Server crash on chunk unload."
NPE in console: http://pastebin.com/TczuUF0c
Crash log that follows: http://pastebin.com/A1LjP7ee

[2017-02-08 02:35] JFMillerUSA commented on #14
I'm having problems sending RF to an Ender IO Alloy Smelter with Integrated Tunnels.

EnderIO-1.10.2-3.1.164
EnderCore-1.10.2-0.4.1.65-beta
IntegratedTunnels-1.10.2-1.1.0

[2017-02-15 19:34] rubensworks commented on #16
Fixed on CurseForge

[2017-02-15 19:34] #16 closed, assigned to rubensworks

[2017-02-15 20:24] rubensworks commented on #14
Both the AA and Ender IO machines seem to work just fine for me.
![2017-02-15_21 22 09](https://cloud.githubusercontent.com/assets/440384/22993864/db618880-f3c4-11e6-9445-293d79af6e61.png)

Are you sure your setup is correct? Just an importer/exporter is not sufficient as explained on the [curseforge page](https://minecraft.curseforge.com/projects/integrated-tunnels), you'll need at least one func

[2017-02-17 01:24] BiatuAutMiahn opened #18 "Subnetworks"
Each Integrated Dynamics component has an ID number. I think it would be useful to add a filter to the Import/Export interfaces to Push/Pull items from a specific Item Interface ID on the network. Could be applied to Energy/Fluid Interfaces as well.

[2017-02-17 01:30] BiatuAutMiahn commented on #17
I used to get this alot too, my solution was to increase the view distance in the server.properties to double the view distance of my client. ie: ServerVD: 32 if ClientVD: 16. Afterwards I was able to go all over the map without crash

[2017-02-17 02:51] Claycorp commented on #17
That might work for small servers of a handful of people but i'm not going to let 20+ people onto a server with a view distance of 32.... It's not a viable solution to the issue.

[2017-02-17 07:00] rubensworks commented on #17
This issue is next on my todo-list, so this solution should only be temporary.

[2017-02-17 07:02] BiatuAutMiahn commented on #17
@Claycorp agreed

[2017-02-17 07:04] rubensworks commented on #18
Note to self: implement channels.
Make capability retrieval from networks channel-based, with `0` as default channel.

[2017-02-17 07:07] BiatuAutMiahn commented on #18
Nice, that would be beautiful. Allowing one to create complex networks, and having channels within this network, like channels on a coax (Cable TV)

[2017-02-17 07:18] BiatuAutMiahn opened #19 "Feature: Interface with other slots on Utility blocks?"
What of the ability to Push/pull items from a given Utility block, for example: Crafting table (a bit extreme, i know...and not really necessary) Enchantment table, Furnaces, etc.

A couple given senarios:

Furnace: In the event of an unmeltable item is pushed into the furnace, the only way to get it out is manually remove it, or of course filter it out before pushing.

Enchantment Table: If [*thi

[2017-02-17 07:23] rubensworks commented on #19
I'm not sure if I understand your request. This should already be possible with the combination of an importer and exporter based on certain conditions.

[2017-02-17 07:26] BiatuAutMiahn commented on #19
In the past I have attempted to use different values in the item slot setting for an Item Exporter, and it didnt seem to have an effect, I will do some more testing

[2017-02-17 07:30] rubensworks commented on #19
That _should_ work, perhaps it's a bug then.

[2017-02-17 07:44] BiatuAutMiahn opened #20 "Bug: Network does not transfer items intermittently"
I notice this happening at random from time to time. In two scenarios...

1, I have a Squeezer, and I have a Drying basin. I have some components to read the inventory of the squeezer to determine if it empty and if it is completely *squeezed*, if it is empty, a Redstone writer will send a true to keep it *reset*, and the other condition is self explanatory. Anyway, the network will put a log in t

[2017-02-17 07:47] rubensworks commented on #20
Are you waiting long enough? Because due to an optimization, the importers/exporters may be idle for a second or two if there were no changes in the inventory in the near past.

[2017-02-17 07:51] BiatuAutMiahn commented on #20
Yes, I could sit there for a few minutes, or leave and come back and that part of the network is locked up.

[2017-02-17 07:52] BiatuAutMiahn commented on #20
oh, and removing/readding a variable card had no effect

[2017-02-17 07:56] rubensworks commented on #20
Ok, I'll try looking into it soon. In the meantime, if you could provide me with a fully reproducible use-case, that'd help me a lot.

[2017-02-17 08:03] BiatuAutMiahn commented on #20
Ill try, but it seems random

[2017-02-17 08:07] BiatuAutMiahn commented on #20
I think this might have something to due with the chunk being loaded/unloaded.

[2017-02-17 08:18] rubensworks commented on #20
Could be related to #17 then.

[2017-02-17 08:22] BiatuAutMiahn commented on #17
I noticed this mostly when I was trying to move too fast, such as running, or using a boat

[2017-02-17 08:54] BiatuAutMiahn commented on #17
Could be caused by a network extending into multiple chunks.

[2017-02-17 09:15] rubensworks commented on #17
@BiatuAutMiahn Any information on what the network that causes the crash looks like could help. I/f you have some pictures with chunk boundaries, that'd be great.

[2017-02-17 18:21] Claycorp commented on #17
Here's a screenshot of what we had that crashed. Sadly there's no chunk boundaries but it spans multiple chunks and it never would fail in the same spot. http://imgur.com/DaARbhG

[2017-02-17 18:28] BiatuAutMiahn commented on #17
I can confirm that #20 is caused by chunks being unloaded. A few times now id dump items into my inventory system, and leave (about 1024+ blocks away) upon coming back the network is locked up.

Edit: Wrench is the only temporary fix.

[2017-02-17 18:29] BiatuAutMiahn commented on #17
@Claycorp, what are those blocks with the red lines?

[2017-02-18 00:48] Claycorp commented on #17
Actually additions laser power relays.

[2017-02-19 09:33] Brend-Smits commented on #17
Can confirm that my server is having these crashes as well, Sky Factory 3 modpack.

[2017-02-19 09:34] rubensworks commented on #17
I've managed to reproduce it myself as well, fixing it as we speak.

[2017-02-19 10:53] rubensworks commented on #17
Will be fixed with the next Integrated Dynamics update.

[2017-02-19 19:04] Brend-Smits commented on #17
Still happening with the new Integrated Dynamics: https://hastebin.com/oteqomubes.pas

[2017-02-19 21:34] rubensworks commented on #17
@Rubbertjuh Any other details you can give me? Does this also occur on chunks unloading?

[2017-02-20 11:33] Brend-Smits commented on #17
This happened just after server startup, so not chunk unloading. That's pretty much all the details that I know off and that I can give =/ Sorry.

[2017-02-21 18:14] BiatuAutMiahn opened #21 "Feature: More Priorities"
-Allow Item/Fluid/Energy Importers/Exports to have priorities?

[2017-02-21 20:37] rubensworks commented on #21
Priorities of all parts can be configured by going into the part settings gui (top-right button).

[2017-02-21 20:37] #21 closed, assigned to nobody

[2017-02-21 21:04] BiatuAutMiahn opened #22 "Inconsistency: Item Exporter, Enchanted Books"
-When using a variable Item("Enchanted Book") on an item exporter, the Filter is too strict. The resulting variable says "Enchanted Book" however, it will not accept any Enchanted Book, only the book with the specific enchantment with the variable was created with.

[2017-02-22 07:29] rubensworks commented on #22
You should be able to disable NBT matching in the aspect settings

[2017-02-22 07:29] #22 closed, assigned to nobody

[2017-02-22 21:31] rubensworks commented on #17
@Rubbertjuh I can't reproduce this myself, but I pushed a small change that may resolve your crash. Could you test this on your server?

[2017-02-22 22:02] rubensworks commented on #19
Slot selection seems to work just fine for me.

[2017-02-22 22:02] #19 closed, assigned to rubensworks

[2017-02-26 12:00] rubensworks commented on #17
Considering this resolved, @Rubbertjuh, let me know if this is not the case.

[2017-02-26 12:00] #17 closed, assigned to rubensworks

[2017-03-01 13:54] rubensworks commented on #20
@BiatuAutMiahn Could you check to see if you still encounter this problem in version `0.6.9`?

[2017-03-01 16:20] BiatuAutMiahn commented on #20
will do

[2017-03-01 18:28] tommyTT opened #23 "Unloaded chunks ticking crash"
Forge log link:
https://hastebin.com/imijadahif
https://hastebin.com/narojayevu (Crash Report)

Problem:
The game crashed with an NPE.

Expected behaviour:
No crashes :)

Steps to reproduce the problem:
This is hard to reproduce, I wasn't able to recreate this. The crash from the log happened as followed:
- Setup a forestry squeezer that processes the menril logs.
- Use a fluid interface on the sq

[2017-03-01 18:31] rubensworks commented on #23
Strange, this should've been fixed already...
But your using the latest ID version, so I guess there's still something wrong.
I'll look into it.

[2017-03-03 05:57] Silvrus commented on #23
Confirming the issue. Single fluid interface and extractor on my smeltery. Crash log is [here](https://gist.github.com/Silvrus/84835089fcb49491f35e06ca1df45030)

[2017-03-03 05:59] Silvrus commented on #20
I'm wondering if I'm having the same issue. Upon chunk unload, I come back to the extractor/importer showing an error about "Network Corruption Detected". Breaking and replacing fixes the issue.

[2017-03-03 06:42] rubensworks commented on #20
@Silvrus Probably related to #23

[2017-03-03 19:56] tommyTT opened #24 "Fluid transfer from a RealFilingCabinet can cause crashes"
I have already posted an issue here bafomdad/realfilingcabinet#16 but also wanted to make you aware of this. The problem is that the code in [TunnelFluidHelpers](https://github.com/CyclopsMC/IntegratedTunnels/blob/master-1.11/src/main/java/org/cyclops/integratedtunnels/core/TunnelFluidHelpers.java#L48) doesn't expect the returned IFluidTankProperties to be null and causes a crash if they are. I do

[2017-03-04 10:55] rubensworks commented on #24
AFAIK a `IFluidTankProperties` is not allowed to be null, but the RFC mod author seems to have fixed it already in the next version, so that's good :-)

I won't add a safeguard, since otherwise IT just wouldn't be able to interact with the tank, while it should, and clearly is being caused by a bug in the target tank.

[2017-03-04 10:55] #24 closed, assigned to nobody

[2017-03-07 16:09] BiatuAutMiahn opened #25 "Feature: Allow multiple filters on Exporters?"
Normally you can only use one, like Export all Items, Export Item(s), etc It would be useful to allow us to set multiple conditions. Like Export All Items, and The use of a list, or an item.

[2017-03-07 16:13] rubensworks commented on #25
The aspects increase in expressivity, the earlier ones can be expressed in terms of the ones after that, so I see no need for this.

[2017-03-07 16:13] #25 closed, assigned to nobody

[2017-03-07 16:17] BiatuAutMiahn commented on #25
So If i make a condition that is bool, can it still filter out items of a given type?

In an exporter, I have a var that says if an inventory is less than 2 then return true. But would this work: (Inv()<2&&Item=Blank) Would that work?

[2017-03-07 16:21] rubensworks commented on #25
Yes, you can do that using an operator.

[2017-03-07 16:23] BiatuAutMiahn commented on #25
ok, cool. The only problem is that I still don't understand how to use those. I get the concept of a lambda, but I don't know how to use an operator.

[2017-03-07 16:24] rubensworks commented on #25
I'm writing a manual, in which I will explain operators in detail.

[2017-03-07 16:25] BiatuAutMiahn commented on #25
ok, sounds good

[2017-03-09 20:47] rubensworks commented on #23
I've been able to reproduce this in an SSP environment, for some reason it doesn't occur in SMP.
If someone would encounter this error in SMP as well, please let me know.

I'm looking into resolving this issue, but it's a tricky one...

[2017-03-11 13:13] rubensworks commented on #23
Fixed in Integrated Dynamics `0.6.10`. Please comment with a crashlog if you would still encounter the issue.

[2017-03-11 13:13] #23 closed, assigned to rubensworks

[2017-03-11 13:13] rubensworks commented on #20
Assuming fixed as of Integrated Dynamics `0.6.10`, please comment if this is not the case.

[2017-03-11 13:13] #20 closed, assigned to rubensworks

[2017-03-11 20:22] BiatuAutMiahn commented on #20
0.6.9 seems to have fixed the issue for me, however I still noticed some minor (possibly unrelated) issues. Will continue to watch out for any more bugs

[2017-03-14 22:20] satsujinke opened #26 "Suggestion: some kind of regulator that reads all slots in an inventory"
I'd really like a way to import/export all items but have it check if it already has a full stack in the target inventory and if it does then the system ignores that item. Currently I can have a reader check a single slot and make a boolean based on that but I want something that will allow me to import/export all items but only maintain one stack of each in the target inventory. Basically what I

[2017-03-15 06:31] rubensworks commented on #26
The goal of this mod is to make the player figure out interesting logic processes, instead of having a single plug-and-play system.
And since your goal is a bit too specific, so I won't add an aspect for this, because this would otherwise clutter the aspect list.
You can actually already do that by reading the list of items, filtering out the items that have a full stack present, and importing/exp

[2017-03-15 06:31] #26 closed, assigned to nobody

[2017-03-17 20:11] laserswald opened #27 "Cannot push energy from/to Thermal Expansion machines"
For some reason, the interfaces just won't move any energy.

I am using the latest Curse release of both. I have one Steam Turbine connected via an Energy Importer / Cable / Energy Interface to a Pulverizer, and fuel and water for the Turbine, with no energy given to the Pulverizer.

I can give screens and other data if need be.

[2017-03-19 09:42] rubensworks commented on #27
Can you send me a screenshot of the setup?

[2017-03-23 20:10] #27 closed, assigned to rubensworks

[2017-03-24 20:48] ShelLuser opened #28 "Item importer: Import items claims 'List' type, but expects 'Item': incorrect error message"
I'm using version 1.1.0 (just noticed the new version, did read the changelog already).

I have set up a 'global' chest (using the Item interface) and my goal is to import (and sort) the items which go into that chest. For that end I added 4 DC's and applied item importers. When I want to import a single item all is well: I use the programmer and set a variable card to that specific item.

But I w

[2017-03-24 22:11] rubensworks commented on #28
I'll test this myself, this may be a regression.

I'm not sure though how you combine the coal and coal block in one list using the Oredict. AFAIK there is no `materialCoal` entry in the oredict, right?

[2017-03-25 17:14] ShelLuser commented on #28
One comment when re-reading: I made a small mistake up there, but this doesn't invalidate the issue. Instead of using item importers I was using item exporters. I just tested and both show the same inconsistency.

As to oredict: I was simply looking for an option in the programmer which used Item as input and List as output. "oredictionary names" did just that, though it only uses one Item, you ca

[2017-03-25 17:38] ShelLuser commented on #28
Sorry for a double post, but I discovered something new...

So I created 2 Item variable cards; one for coal and one for a coal block (which is what you'd do when you want to export items based on a specific item). I then used the oredict function to create a List from one of those Item cards. Then I used the append option to add the other Item card to the list.

I insert the List card with the 2

[2017-03-25 18:27] rubensworks commented on #28
Ah, ok, I understand now.

The oredict operator outputs a List of Strings, not Items. So it's just the error message that is wrong.

It is indeed impossible to manually create a List of Items, I hope to add this functionality to the LP in the next update.
In the meantime, you could user the Materializer to materialize a List of Items that were read from an inventory.

[2017-03-26 11:30] ShelLuser commented on #28
Gotcha, thanks!

[2017-04-05 06:21] Speiger commented on #9
@rubensworks sadly this stuff is IC2Exp Only and it would first crash with classic and second not work with it.

[2017-04-05 23:09] Tylian commented on #14
I'm also having this issue while using the latest(I think?) version of Integrated Dynamics/Tunnels on 1.10.2.

I'm using a very simple setup:
Energy Source -> Importer (with blank variable card) -> Interface -> Machine.

If you place an Actually Additions machine, or the Wireless RF Battery from Extra Utils 2 at the end of the chain, they don't accept energy and remain empty.

Additionally, Capaci

[2017-04-06 01:29] rubensworks commented on #14
Are you sure those machines allow energy extraction? Could you post a picture?
The capacitor bank probably works because it is pushing energy itself.

Note to self: importers should limit the rate when external machines are pushing energy: https://github.com/CyclopsMC/IntegratedTunnels/blob/master-1.10/src/main/java/org/cyclops/integratedtunnels/part/PartStateEnergy.java

[2017-04-06 01:51] Tylian commented on #14
It's specifically trying to get Integrated Tunnels to insert energy into the machines.

http://imgur.com/a/XwcfW

[2017-04-07 01:34] rubensworks commented on #14
@Tylian I'll look into it.

[2017-04-07 20:30] Speiger commented on #9
@rubensworks we are intigrating now your mod to our beta test so we could do all Related IC2Exp/IC2C Support tests.
Also it would be a small request but our server is a weak one. If we find performance hogs would you try improving them when we find those?

[2017-04-08 00:46] rubensworks commented on #9
@Speiger Definitely! Be sure to report any performance issues as you find them.

[2017-04-08 09:18] Speiger commented on #9
@rubensworks sadly i didnt even manage to geht easly a item transfered which was the requirement. And I tested it like 10-20 minutes just to get that started. No doc either you were afk and so I decided on xNet sry.

[2017-04-09 05:42] rubensworks commented on #9
@Speiger Documentation is a WIP: https://github.com/CyclopsMC/IntegratedDynamics/tree/feature-infobook

[2017-04-20 14:43] #28 closed, assigned to rubensworks

[2017-04-23 05:56] #14 closed, assigned to rubensworks

[2017-04-23 05:57] rubensworks commented on #14
Next release will contain a fix so that interfaces will always work with either RF, FE or Tesla.

[2017-05-10 07:34] Revvilo opened #29 "Crash when Unpausing Singleplayer while Fluid Tunnels are Unloaded"
I was trying to set up a lava pump in the nether and had to pause the game for a sec to do something, and when I came back to unpause it, the game crashed immediately.
It's being quite intermittent though, sometimes crashing when unpausing, but sometimes not, I've also had it crash while logging back into the world once.
Crash Log • https://pastebin.com/khcJszXH

[2017-05-10 07:36] rubensworks commented on #29
This seems related to #23 which I assumed was fixed.

[2017-05-10 07:49] Revvilo commented on #29
Further testing confirms that if I unload a machine involving fluid interfaces and pause and unpause a few times it will crash.

[2017-05-10 07:52] rubensworks commented on #29
Thanks for checking, I'll look into it soon.

I was planning on releasing new ID/IT versions soon, but I'll try to resolve this issue before I do that.

[2017-05-10 08:06] Revvilo commented on #29
Sounds good :)
Hey also, might be unrelated, but I'm finding I have to break and replace part of the network to get it to start moving items/fluid again. Something I encountered while trying to add the automatic removal of menril blocks from drying basins to this contraption;
![picture of auto crystal menril block machine](http://i.imgur.com/3SyWHGm.png)
I'll do further testing at some point to wo

[2017-05-11 19:26] #29 closed, assigned to rubensworks

[2017-05-11 19:27] rubensworks commented on #29
@Revvilo Last Integrated Dynamics fix (which will be included in the new release) _should_ resolve this issue (again).

It's a difficult one, so if you would encounter this issue again after the new version is released please let me know ASAP.

[2017-05-20 03:00] VampireValik opened #30 "Fluid/Energy Transfer Rates are set to 0 on load."
- Minecraft: 1.11.2
- forge-1.11.2-13.20.0.2299
- IntegratedTunnels-1.11.2-1.2.0.jar
- A bunch of other mods as well, all up-to-date. If you can't reproduce the issue I can narrow down mods in case of a bad interaction.

Pretty simple to reproduce. I updated to the latest Integrated Tunnels (and Integrated Dynamics and all dependencies) and noticed none of my fluid or energy transfers were working

[2017-05-20 06:16] rubensworks commented on #30
Note to self: might have something to do with fdb20dd03c096f5f8604e0c1d6802fedf932d7bb
Problem seems to be more generic than that. All configured aspect property values are set to 0 after restart.

Will look into it tomorrow.

[2017-05-21 03:22] xxjetterxx opened #31 "Exporters just won't work."
If I attach an exporter to a network that has an item interface on the other chest (two chests, like the example on the mod page) no matter what I do, I can't get it to pull any items to the chest with the exporter on it. I'm putting a blank card in the export item slot, it's active (not errored) and should be working (again, it's the same as on the example page).

[2017-05-21 03:35] BrewingCoder commented on #30
I can confirm this; just swung on by to report this.  Every load in SSP fluid and energy importers/exports are broken.

I can pull them all off, reset them in a crafting grid, and then replace them and they work.  That is until the next time the SSP  world is loaded or the SMP server is rebooted.  I tried it both ways.

[2017-05-21 08:27] #30 closed, assigned to rubensworks

[2017-05-21 08:28] rubensworks commented on #30
Will release a new patch today.

[2017-05-21 15:21] rubensworks commented on #31
@xxjetterxx Seems to work just fine here.
This *might* have been related to #30 though, so let me know if you still encounter this problem after I release the new (ID) update.

Also, if it doesn't work, please send me a screenshot of the setup and the export gui.

[2017-05-21 17:27] xxjetterxx commented on #31
I still can't get it to work, even with the new update. I took some screenshots:
![2017-05-21_12 25 36](https://cloud.githubusercontent.com/assets/7423931/26286013/3532bd1c-3e29-11e7-98de-d9ce77fed37d.png)
![2017-05-21_12 25 40](https://cloud.githubusercontent.com/assets/7423931/26286014/3533169a-3e29-11e7-8f86-d027a445a801.png)

It should move items in the chest from left to right, but it doesn't

[2017-05-21 17:56] rubensworks commented on #31
That's strange, I just tested the exact same thing myself and that worked.

Can you try removing all other mods and try in a fresh new world?
Perhaps some other mod is breaking something.

[2017-05-21 19:08] xxjetterxx commented on #31
Just tried that, can't get it to work, even with a brand new world and a brand new minecraft install. I'm running the latest version of forge (2299) and cyclopscore 0.10.3, commoncapabilites 1.3.2. Is there a dependency I need to update or something?

[2017-05-21 19:21] rubensworks commented on #31
No other dependencies are needed.
Are you able to make a short recording of you building your setup and demonstrating that items aren't being transferred?
Perhaps you somehow are doing something special what breaks it, somehow...

[2017-05-21 19:25] xxjetterxx commented on #31
Sure, give me a few minutes

[2017-05-21 19:38] xxjetterxx commented on #31
https://www.youtube.com/watch?v=M1Cq0VUUAWE&feature=youtu.be
There, that should work

[2017-05-21 19:44] rubensworks commented on #31
Thanks for the video.
When using your Forge version I can indeed reproduce the problem. I'm looking into it...

[2017-05-21 19:48] xxjetterxx commented on #31
Perfect, in the meantime I'll just use an older version of forge

[2017-05-21 19:56] rubensworks commented on #31
Ok, apparently I broke something recently in the 1.11 version.
I'm pushing out a new (1.11) release at the moment, should be on curseforge in a few minutes.

Thanks for your help in debugging this!

[2017-05-21 19:56] #31 closed, assigned to rubensworks

[2017-05-21 20:07] xxjetterxx commented on #31
No problem, I'll keep you up to date with any other issues I find!

[2017-05-22 16:28] BrewingCoder opened #32 "Fluid exporter exporting wrong fluid"
Problems I've had with fluid in the last two updates:

Exporters exporting wrong fluid.

Interfaces nuking contents of a container/tank to use for a different fluid.

I was finally able to find a problem I could reproduce easily... it may have to do with the proximity of the the tanks/exporters.. who knows.

ID ver:  1.10.2-0.7.1
IT ver:  1.10.2-1.2.0

https://youtu.be/Hy-NxniB0Ug

[2017-05-22 18:54] rubensworks commented on #32
Thanks for the detailed video.
I'll look into it asap.

[2017-05-23 15:23] #32 closed, assigned to rubensworks

[2017-05-23 15:24] rubensworks commented on #32
I've managed to reproduce and fix the issue. Will make a new release later today.

[2017-06-04 11:42] NoLiver92 opened #33 "Energy crashes client and server"
If the energy transfer connections are connected to a buildcraft item and you put a variable in or change frequency it crashes the client and server. Ive included the crash report which seems a method is being called which doesnt exist

[crash-2017-06-04_13.09.10-server.txt](https://github.com/CyclopsMC/IntegratedTunnels/files/1050307/crash-2017-06-04_13.09.10-server.txt)

[2017-06-07 04:03] Revvilo opened #34 "Changing priority while network is operational crashes game"
I was fiddling around trying to work out how I was going to prioritise some exporters over others and as soon as I hit save to update the priority on one of them the game closes;
- Crash • https://pastebin.com/8WzhJ0Mp
- Integrated Tunnels • 1.2.1
- MC • 1.10.2
- Forge • 12.18.3.2297

I've had this happen a few times recently, and judging by the concurrent modification exception it's just bad timi

[2017-06-14 07:35] rubensworks commented on #33
It looks like you're not using the latest ID and IT versions, please update to the latest versions and let me know if the issue persists.

[2017-06-14 07:35] #33 closed, assigned to rubensworks

[2017-06-14 07:44] #34 closed, assigned to rubensworks

[2017-06-14 13:27] Revvilo opened #35 "Payload may not be larger than 32767 bytes after error spam"
While fiddling around trying to solve a problem, I kept encountering a bug which seems to cause an immense amount of errors being saved into NBT causing me to be disconnected for the above error about payload sizes.
My newly discovered way to recreate:
- Place a chest with one item inside
- Connect it to a network via an item interface
- Connect another inventory with an item exporter in order to

[2017-06-14 13:34] rubensworks commented on #35
Oops, 107 errors indeed seems to be a bit much...

[2017-06-14 23:29] Revvilo commented on #35
Hehe, while in MCEdit (to fix affected worlds) I've seen over 1700 errors in the NBT. Not surprised poor ol' mc can't handle it :3

[2017-06-15 15:04] #35 closed, assigned to rubensworks

[2017-06-16 08:53] Revvilo opened #36 "operator.integrateddynamics.error.wrongCurringType error"
Strange localisation problem I have encountered
Way I've found to reproduce it (might not be the most efficient way but hey);
- Take an operator variable of "Raw Item Equals"
- Flip it in the Logic Programmer
- Apply like so: (Previously flipped "Raw item equals" + Operator Variable of "List contains predicate")

Placing it in an item exporter should return this error

- MC Ver • 1.10.2
- Latest I

[2017-06-17 00:31] Revvilo opened #37 "List contains_p that supports custom comparator"
It seems that the current list contains_p does not have the support required if I want to use the operator "raw item equals" in conjunction with a list in order to ignore NBT and damage on both the _list_ and the _item to be searched for_ then negating it to result in a kind of
`if (!listOfItems.raw().contains(itemToBeTransferred.raw()))` if you can understand that weird pseudo java type thing.
An

[2017-06-17 00:37] Revvilo commented on #37
PS: I seem to be having issues with being able to edit and other such buttons not working at all so please forgive the poor grammar and English. I hope you can get the basic idea of the description anyway.

[2017-06-17 17:20] rubensworks commented on #37
Similar to CyclopsMC/IntegratedDynamics#195.

Will see if I can come up with a more generic system that can handle both cases.

[2017-06-17 17:56] ricochet1k commented on #37
I think this can be done already, though it is messy. If this were written in Haskell, it would be written like this:

[code]

Or in other words, a contains_p operator, apply listOfItems, then pipe rawItemEquals to it, and you should get a function `Item -> Boolean` that says if the list contains a matching item.

[2017-06-17 22:20] Revvilo commented on #37
Yeah, I've tried that an insane amount of times, all it does is says "This aspect expects operator, but received boolean"
And then if I flip it like intended for, it just says "ERROR" at the bottom, yet has a tick next to it.
Although, what do you mean by "Pipe raw equals into it"? Maybe I'm not getting you there...

[2017-06-18 08:06] #36 closed, assigned to rubensworks

[2017-06-18 18:11] phenonymous opened #38 "Export Enchantable Items achievement won't trigger"
I'm using 2 chests with an item interface on one and an item exporter on the other. Using the enchantable operator in the export items predicate it transfers all the enchantable items just fine but achievement wont unlock.

[2017-06-20 18:41] ricochet1k commented on #37
Make sure you are creating Operators, not regular variables. So you'd need to select "Operator" on the left and then find "Contains Predicate" in the middle list, etc. By pipe, I mean the pipe Operator. Pipe allows you to take an Operator `a -> b` and an Operator `b -> c` and combine them, so you get an Operator `a -> c`.

[2017-06-20 22:16] Revvilo commented on #37
Yes, I am creating Operator Variables, but I had no idea about the pipe operator... thanks, I'll have to try that!

[2017-06-21 15:08] #38 closed, assigned to rubensworks

[2017-06-22 01:35] Revvilo commented on #37
![image](https://user-images.githubusercontent.com/13816212/27413450-90082c1a-574f-11e7-8b73-f094d0f559a8.png)
Rest in peace.

[2017-06-22 02:31] Revvilo opened #39 "Localisation issue with pipe(?) operator"
![image](https://user-images.githubusercontent.com/13816212/27413469-b05e578c-574f-11e7-82e2-87765a25d29c.png)
To recreate:

- Apply a list of items to a **contains_p** operator variable
- Then use pipe like so: (the prev. applied **contains_p**  |  **raw item equals** operator variable)
- And stick it in an Item Exporter

[2017-06-25 07:19] rubensworks commented on #39
Fixed in CyclopsMC/IntegratedDynamics@b8493eef49b3ac8629d2c4d0cc8e29faaea3c75b

[2017-06-25 07:19] #39 closed, assigned to rubensworks

[2017-07-16 04:39] Epic428 opened #40 "Add Actually Additions Compat"
SkyFactory 3.0.13
Integrated Tunnels 1.2.1
Integrated dynamics 0.7.3
Cyclops Core 0.10.5
Minecraft 1.10.2
Actually Additions 1.10.2-r105

It appears that none of the importers/exporters/interfaces for Items, energy, and fluids are compatible with Actually Additions machines. Not sure if this can be fixed or not or if it would have to fixed on AA's side.

Thanks,
James

[2017-07-16 04:53] Epic428 opened #41 "Importers don't work with Immersive Engineering auto ouput"
SkyFactory 3.0.13
Integrated Tunnels 1.2.1
Integrated dynamics 0.7.3
Cyclops Core 0.10.5
Minecraft 1.10.2
Immersive Engineering 0.10-60

It seems that certain machines such as the Garden Cloche or Industrial Squeezer have a side which auto-outputs to an inventory. I read an issue on IE github about the Cloche not auto outputting to Ender IO conduits where in the comments it was mentioned that it d

[2017-07-16 15:21] rubensworks commented on #40
This mod is fully capability-based, so if AA doesn't support that, there's not much I can do.

But I thought AA implemented capabilities, so will have a look to see what is going on there.

Can you give me an exact example of a machine that *doesn't* work?

[2017-07-16 15:23] rubensworks commented on #41
This should work though.

Are you sure that there is at least one valid item interface when your importer is connected to the cloche?
Importers *have* a (virtual) internal inventory.
Last time I checked this still worked.

[2017-07-16 18:58] Epic428 commented on #40
I had issues when connecting item importers/exporters to the powered furnace and the crushers. I also had issues when transferring energy into the same machines. Essentially, nothing would transfer. I'm currently at work but later tonight I can get some screenshots of the setup if necessary.

[2017-07-16 19:01] Epic428 commented on #41
100% positive I had an interface. I had the importers connected to the cloche on the side of the dome where it should be. I ran the cable direct to a basic chest with an interface and even attempted a direct connection to an exporter attached to a machine. Later tonight when I get home from work I can put together some screenshots of the setup.

[2017-07-17 01:31] Epic428 commented on #40
OK so I did a bit more testing and it seems it is only the energy import/export/interface that doesn't work with the two machines I mentioned above. Lol I forgot the crate was Actually Additions which I am successfully transferring items in and out of. It appears the two machines also work for items leaving energy the only thing that's not working correctly. The energy issue was what actually prom

[2017-07-17 01:58] Epic428 commented on #41
http://imgur.com/a/a6iAn

OK. I tried to take a video but, my laptop is garbage so, I took screenshots instead. Please note that the exact same issue applies to the industrial squeezer as I have tested that also, though, it is not included in the screenshots. I setup 4 cloches, with the left two using item importers and the right two using interfaces. The left two do not transfer items to the ches

[2017-07-17 06:25] rubensworks commented on #40
Looks like you may be doing something wrong, works just fine here using the latest 1.10.2 versions.

![2017-07-17_08 24 21](https://user-images.githubusercontent.com/440384/28257214-5e0c3174-6ac9-11e7-8c60-f7af35df3bb2.png)

[2017-07-17 06:25] #40 closed, assigned to rubensworks

[2017-07-17 07:16] #41 closed, assigned to rubensworks

[2017-07-22 04:14] josephcsible commented on #37
I just tried this myself and it worked fine. I started with the itemList and itemToBeTransferred variable cards, then did this:
1. Went to "Operator" in the logic programmer and made an "Item Raw item equals" variable card (I'll call this "X")
2. Went to "Apply" in the logic programmer, put in "X" on the left and itemToBeTransferred on the right, and made a new operator variable card (I'll call th

[2017-07-22 07:55] Revvilo commented on #37
I had no idea about this itemToBeTransferred operator, how do you find out about these things?
I'll try it out at some point... we don't really play the map I was using this on anymore, though.

[2017-07-22 07:58] rubensworks commented on #37
@Revvilo `itemToBeTransferred ` would simply be the name of a variable card containing an item that you need to transfer.

If this fits your requirements, I'll close this issue. I'll leave CyclopsMC/IntegratedDynamics#195 open though.

[2017-07-22 11:20] Revvilo commented on #37
Oh... right...
Look honestly it's been so long since I've thought about it that it's kinda fuzzy what I originally needed.
I'm pretty sure I basically needed a blacklist that ignored NBT, where the list of items is obtained from a chest.
Obviously, the whitelist is easy because you simply put the list of items in "items to be transferred" and set ignore NBT to true, but a "Don't transfer these ite

[2017-07-22 11:33] Revvilo commented on #37
I'm not sure what the itemToBeTransferred is meant to be, a single item variable? Because that wouldn't work for my requirements, I want it to search through the chest and ask if the raw item is not contained in the raw list like I explained above.

[2017-07-22 15:31] josephcsible commented on #37
@Revvilo Okay, I get what you want to do now. You want an input chest, an output chest, and a blacklist chest, and to move all items from the input chest to the output chest unless they "raw item equal" an item in the blacklist chest. When I tried building this, I discovered the problem that you were running into. Here's what I did:
1. Made a variable card from the "Items" aspect of the blacklist

[2017-07-22 15:38] rubensworks commented on #37
I'll try it out myself to see what is going on there.

[2017-07-23 00:18] Revvilo commented on #37
I'm sorry my explanations were so vague and caused all this rigamarole. I should really have started with explaining in basic terms what I needed and working from there. Thank you @josephcsible for helping me out here 😄

[2017-07-24 00:57] bcrotty opened #42 "Exporter/Importer Doesn't Work with Static Item Variable"
When I make a static item variable and put it in the Export/Import Item slot of the respective part, it doesn't do anything. In order to get it to work, I have to make a single element list and put the variable in the Export/Import Items slot.

[2017-07-24 03:08] bcrotty opened #43 "Suggestion: Allow Importers/Exporters to Also Be Interfaces"
I essentially have a string of 9 inventories that I'm moving items between, and it would be a whole lot cleaner if I didn't need to have two connections on most of the blocks. There are probably times that it wouldn't be good, so you could have an option in the GUI to disable the interface portion.

[2017-07-24 05:55] rubensworks commented on #43
This would require a complete rewrite of how the tunnels system works, and this doesn't really fit into the design of this mod. You might be able change the way you transfer your items by only using interfaces on the blocks that normally have two parts.

[2017-07-24 05:55] #43 closed, assigned to nobody

[2017-07-24 05:57] rubensworks commented on #42
That's strange, this worked last time I checked. MC/mod version?

[2017-07-24 05:58] bcrotty commented on #42
1.10.2 and IntegratedDynamics-1.10.2-0.7.7

[2017-07-26 19:00] rubensworks commented on #37
Ok, this was a very fun issue to debug, but not an easy one though. :)

@josephcsible In the next ID update your operator chain will work as expected.

For cases like these sharing method for complex operator chains would be really useful, I should start looking into something for that soon...

[2017-07-26 19:00] #37 closed, assigned to rubensworks

[2017-07-26 21:25] josephcsible commented on #37
@rubensworks you only made that commit (and today's other commits) to the 1.10 branch, not 1.11 or 1.12.

[2017-07-27 03:52] josephcsible commented on #37
Also, this could actually be the use-case for CyclopsMC/IntegratedDynamics#211. In addition to the new internal format, it could also be user-facing so it can be copied and pasted.

[2017-07-27 06:13] rubensworks commented on #37
@josephcsible Yes, I'm aware of that. Will merge with the other branches when I intend to make a new release.

[2017-07-28 14:33] Nanabell opened #44 "Target multiple parts to one side"
At the moment you can use ID with IT easily to connect to to the Improved Blast Furnace but since the furnace has specific in/outputs you can only connect to those so if you want to fully automate it you need to have IT Interfaces etc. on everyone
Top => iron, coal coke in
Front => steel out
Back => slag out
That works wonderful but that leaves no room to connect for example an inventory reader to

[2017-07-28 14:34] Nanabell commented on #44
🤔 i should have probably opened that on Integrated Dynamics not Tunnels. my bad.. i'd move it if you want

[2017-07-28 14:39] rubensworks commented on #44
No, it's fine, you can leave the issue here :-)

So in general, you want to attach _multiple_ parts to the same side?
Something like that is not possible at the moment, but I guess I should foresee something that can handle cases like these.
I'll think about it.

In the meantime you could use a [Capability Proxy](https://minecraft.curseforge.com/projects/capabilityproxy) that will expose one side

[2017-07-28 14:53] Nanabell commented on #44
dude.. :thonk: do you have a mod for everything ? tyvm

[2017-07-28 15:13] rubensworks commented on #44
Note to self: adding an option to change the facing side via the gui might also be a good solution.

[2017-07-30 08:27] rubensworks commented on #42
This seems to work just fine for me, both importing and exporting with a static item.

I'll need additional details of your use case if the issue still persists for you.

[2017-07-30 08:27] #42 closed, assigned to rubensworks

[2017-08-18 21:22] maham opened #46 "[1.12] Random NPE"
Went down to mine in mining dimension. Opened Journeymap. Game crashed and there was an NPE that seems to origin from Integrated Tunnels. Crashlog: https://pastebin.com/kYJp37jV
Reloaded and everything is fine.

Not sure if you get anything useful from this but otherwise just remove the issue.

Forge version 14.21.1.2443
Integrated tunnels version 1.2.5.
Integrated dynamics 0.8.4.
Cyclops core 0.1

[2017-08-19 22:27] josephcsible opened #47 ""Click empty" happens even when false"
If you put a false variable card in "Click empty" of a player simulator, it will click anyway, just as if you had put a true or blank one in. "Click" doesn't have this bug. I tested this with "./gradlew runClient" on version e89f801.

[2017-08-19 22:32] josephcsible opened #48 "Suggestion: let the world block importer filter on blocks"
Currently, the world block importer's aspects all filter on the items of their block, rather than on the block itself. Can we get the ability to filter on the block added, so we can (for example) import crops based on their "Block Plant Age" without needing a separate block reader to check this?

[2017-08-19 23:06] josephcsible opened #49 "Suggestion: let player simulators use fishing rods and leads"
Player simulators currently seem unable to properly use items that require multiple clicks to use, such as fishing rods and leads. Could this ability be added?

[2017-08-20 06:27] rubensworks commented on #47
Ah, someone has been testing some of the new features... :-)

[2017-08-20 06:28] rubensworks commented on #49
This *should* already work. Will look into what is going wrong there. If it's too complex too fix, I'll add functionality for this in the future, as I intended to release these new world interaction features soon.

[2017-08-20 06:44] #47 closed, assigned to rubensworks

[2017-08-20 11:14] #48 closed, assigned to rubensworks

[2017-08-20 11:14] rubensworks commented on #48
Good idea, just implemented that.

[2017-08-25 14:57] #49 closed, assigned to rubensworks

[2017-08-25 14:59] rubensworks opened #50 "Fishing rod and lead entities are not rendered"
This is because these entities require the (fake) player to exist client-side,
which is not the case for our fake players.

[2017-08-25 14:59] rubensworks commented on #49
Items like this work now.

The only limitation is that their related entities won't be rendered, due to MC requiring (fake) players to exist client-side. Perhaps I can come up with a clean solution to fix this in the future.
Following up in #50

[2017-08-27 02:48] orionSquared opened #51 "Issue with Fluid Interfaces"
https://pastebin.com/V1aCjyRa

Unsure of what is causing this. I have a fluid extraction on an Immersive Engineering Coke Oven leading to a fluid interface on a tank port from Simple Fluid Tanks. This has caused my client to crash twice. Both times, I was in the nether, exploring. The integrated tunnels stuff is back at my base. My base is not chunk loaded.

[2017-08-27 05:46] rubensworks commented on #51
Thanks for the info, this should help me to better debug #46.

[2017-08-27 05:46] #51 closed, assigned to nobody

[2017-08-27 11:01] rubensworks opened #52 "Item transfer is sometimes delayed"
Happens with Squeezer and Drying Basin

[2017-08-27 15:11] cjm721 opened #53 "NPE on Move Item"
Forge: 2460
IT-V: 1.12-0.8.5

Can't tell if this was because something else returned a Null ItemStack or a Null ItemStack is being passed around in your code.

CrashLog:
https://gist.github.com/cjm721/73219ecf86b4dc6b632f84a4817698a4

[2017-08-27 15:56] rubensworks commented on #53
No, that's my bad...

[2017-08-28 07:29] rubensworks opened #54 "Energy parts don't connect to fluxducts"

[2017-08-28 15:55] #53 closed, assigned to rubensworks

[2017-08-28 15:55] #54 closed, assigned to rubensworks

[2017-08-28 16:46] #52 closed, assigned to rubensworks

[2017-08-28 19:37] JonaBrackenwood opened #55 "Random crash related to integrated tunnels"
Crash report: https://pastebin.com/vSywswNw
Could be a problem with partly loaded network?

After restart of the server, and after breaking and replacing a cable of the Integrated Dynamics network, things started working again.

[2017-08-28 19:52] rubensworks commented on #55
Haven't seen that before, will check.

[2017-08-29 06:37] rubensworks commented on #55
Actually, this might be similar to #46.

[2017-08-31 05:10] orionSquared commented on #55
I'm having this same issue. My world is almost unplayable as I crash every 30 minutes or so. Can provide a crash report if necessary, but it's basically the same thing.

[2017-08-31 15:13] #46 closed, assigned to rubensworks

[2017-08-31 15:13] #55 closed, assigned to rubensworks

[2017-08-31 15:13] rubensworks commented on #55
@orionSquared Feel free to use the latest dev build to see if it resolves the issue for you.

[2017-08-31 15:21] orionSquared commented on #55
Where can I find the dev build for the 1.11.2 version? Sorry if that's a stupid question.

[2017-08-31 15:25] rubensworks commented on #55
All dev builds can be found here: https://dl.bintray.com/cyclopsmc/dev/org/cyclops/

1.12 is my main update branch though, I'm abandoning 1.11.2 and earlier. As I don't have enough time to maintain multiple versions at the same time, and as most people have transitioned to 1.12.1. Sorry :/
You're welcome to backport it to 1.11.2 yourself though.

[2017-08-31 15:30] orionSquared commented on #55
Ah, I don't even know how to do that. Thanks tho :)

[2017-08-31 15:31] rubensworks commented on #55
If I would find a big chunk of free time, I might backport it still, but no guarantees on that.

[2017-08-31 15:33] orionSquared commented on #55
Don't feel obligated. If the community is moving from 1.11.2, then there's no reason I shouldn't do the same. :)

[2017-09-11 05:30] murapix opened #56 "Item List blank item use crash"
Minecraft: 1.12.1
Modpack: Radon 1.2.2
Integrated Tunnels: 1.12-1.3.2
Integrated Dynamics: 1.12-0.8.7

I was using the player simulator to place aquamarine into an Astral Sorcery Lightwell, but had set it up to pick between two values in an item list, depending on whether it was day or night. The first value was aquamarine, the second just left blank. However, upon becoming daytime, the interface

[2017-09-11 18:00] #56 closed, assigned to rubensworks

[2017-09-11 18:01] rubensworks commented on #56
Will be fixed with new Integrated Dynamics update.

[2017-09-16 16:42] josephcsible opened #57 "World importers/exporters have useless properties"
A lot of the properties on world importers/exporters aren't useful and don't make sense. For example, the world block importer's "Pick Up All Item Blocks" has "Check Damage" and "Check NBT", but since it just takes a Boolean, there's nothing to check the damage or NBT against. The same applies to all of the "Predicate" forms that have these properties. Also, the world fluid importer has a "Blackli

[2017-09-20 21:31] Macrophage001 opened #58 "NPE on item transfer"
I'm not sure if this issue stems from Tiny Progressions or Integrated Tunnels but it seems to be caused by their interaction. I used 8 tier 8 cobblestone gens from Tiny Progressions with an item interface connected to each and an item exporter connected to a drawer controller. As soon as I connected the item exporter and placed a variable to only allow cobblestone to enter the drawer controller, t

[2017-09-21 06:45] rubensworks commented on #58
This seems to be caused by an invalid target inventory.

Can you try hooking up your interface to a regular chest instead of a drawer controller instead, and see if that still crashes?

[2017-09-24 13:02] Macrophage001 commented on #58
The same issue does not occur. Only when I try to place a item exporter onto a drawer controller Does it crash

[2017-09-24 13:18] rubensworks commented on #58
Sounds like an issue with Storage Drawers then, something with their sided item handler capability must be going wrong. Can you report it on their issue tracker and link back here?

[2017-09-26 11:56] Macrophage001 commented on #58
Sorry it took so long. Here you go:

https://github.com/jaquadro/StorageDrawers/issues/575

[2017-09-27 00:09] jaquadro commented on #58
I need more information on the inventory usage.  It looks like SD blocks are being treated as IInventories, but they do not support that interface.  Only IItemHandler.

[2017-09-27 06:38] rubensworks commented on #58
@jaquadro IT only works with the `IItemHandler` capability, and never works with the old `IInventory`. I also never do a manual `InvWrapper` wrapping. So I assume another mod must be causing this.

@Macrophage001 Are you sure that your IT item interface is attached to a block of Storage Drawers? And not some kind of chest? Because the crashlog indicates that a corrupted `InvWrapper` is being used,

[2017-09-27 07:06] LemmaEOF opened #59 "Item Importer acting slow"
I'm trying to use Integrated Tunnels to automate tinker's construct smeltery casting, but for some reason the item importer is acting really, really slow. Its frequency is set to 1 and it's definitely got a value of true for import all items, but it's just not doing it as often as it should. It does work eventually, but can sometimes take up to thirty seconds. Any idea what's up?

Video of issue:

[2017-09-27 07:08] LemmaEOF commented on #59
It works every so often, but the time between each extract after the metal solidifies just gets even longer until it's totally unreasonable.

[2017-09-27 07:10] rubensworks commented on #59
I already know what is going wrong. The transfer optimization system probably still thinks that the inventory is empty, while it isn't anymore. Will look into it.

[2017-09-27 07:12] LemmaEOF commented on #59
Thank you for the quick response! Yeah, WAILA shows the casting table as "empty" too even though there's clearly an ingot there, though it might just be referring to the fluid tank.

[2017-09-27 07:18] rubensworks commented on #59
Hmm, does WAILA show something in the tooltip of the casting table if there has been an ingot in there for a while? There might be something else wrong in that case.

But I'll look into it.
On holidays now, so it might be a while before I can fix it.

[2017-09-27 10:49] Macrophage001 commented on #58
No, the item interfaces are connected to the cobblestone generators and the item exporter is connected to the drawer controller. I'll take a picture of my setup when I get back from work. It's basically 8 Cobblestone Generators with item interfaces on each, then a drawer controller directly above them with an item exporter connected to it. Everything is connected together but the crash occurs once

[2017-09-27 12:36] vitalexbel commented on #59
I have the same issue with regular chests.
The system imports items normally from some chests.
But from the other chests I have to wait ~40 seconds.
I use minecraft chests, item importers and empty cards in Import All Items slot in importer.

[2017-09-27 22:08] rubensworks commented on #59
@vitalexbel Thanks for the information, good to know that the issue doesn't only occur with the casting table.

[2017-09-27 22:10] rubensworks commented on #58
Note to self: find out if I am using `InvWrapper` myself anywhere somehow.

[2017-09-27 22:52] Macrophage001 commented on #58
![error_construct](https://user-images.githubusercontent.com/331135/30941741-f638e95a-a3b4-11e7-8265-809db414f900.png)

Here's the setup. As soon as I put in a variable card in that item exporter, it crashes.

[2017-09-27 23:16] rubensworks commented on #58
@Macrophage001 Thanks!

Until I have time to look into this, could you try this setup with item importers instead of the interfaces, and an interface instead of the exporter?

[2017-09-27 23:41] rubensworks commented on #58
Ah, but wait...

The cobble generators seem push items to the interface themselves. Because of how IT interfaces work, these items will be pushed to the other blocks that the interfaces are targetting, i.e., the other cobble generators. So the cobble generator blocks must be exposing an invalid item handler capability. More specifically, they expose an item handler which can contain `null` ItemSta

[2017-09-28 01:27] Macrophage001 commented on #58
A different error occurs when I try the item importers setup:

[crash-2017-09-27_21.25.21-server.txt](https://github.com/CyclopsMC/IntegratedTunnels/files/1339136/crash-2017-09-27_21.25.21-server.txt)

And will do.

[2017-09-28 05:37] Kashdeya commented on #58
This issue has been fixed in our Tiny progressions workspace and will be in our next update.

[2017-09-28 06:46] rubensworks commented on #58
Ok, great! Closing this issue then :-)

[2017-09-28 06:46] #58 closed, assigned to rubensworks

[2017-10-09 00:28] DaComputerNerd717 commented on #59
I am also experiencing this issue, for a completely different system.

My system at this point is a little bit simpler. The network is transferring power and canola seeds from a chest into Actually Additions display stands, which are then used by empowerers to empower some crystallized canola seeds. At first, I thought it was just completely stopping, but, after watching it, this seems to be the i

[2017-10-09 01:03] LemmaEOF commented on #59
The new version of Integrated Dynamics fixed it for me. @RedstoneMaster256, I recommend maybe manually updating Integrated Dynamics?

[2017-10-10 02:10] DaComputerNerd717 commented on #59
ATM3 has now updated again, updating a lot of mods, including this one.

[2017-10-12 17:02] DSLM commented on #59
I have the same problem in 1.10.2(IT 1.2.5), I want to import everything from auto hammer, but it is slowly, and even won't work sometimes.
When it stop, I chage the Item Transfer Rate to 1, 63 or 65, it will work so fast.
When I change it to -1, it work similarly to a exporter, but this is what it did:
![image](https://user-images.githubusercontent.com/12635058/31524640-0f249b64-af89-11e7-8dc5-d8

[2017-10-13 00:38] DSLM opened #60 "[1.10.2]Importer bug"
When I use the grinder of ActuallyAdditions, I use importer to get the product. It work very will at the beginning, but after I played some day, it wouldn't work sometimes. I try to change the frequency and priory, but still not working. Then I change the Item Transfer Rate to 1, 63 or 65, and it will work so fast. When I change it to -1, it do something awesome:
the Grinder
![image](https://user-

[2017-10-13 00:39] rubensworks commented on #60
Yeah, you shouldn't be able to change the rate to anything negative, this can result in unexpected behaviour in other mods.

[2017-10-13 00:43] DSLM commented on #60
maybe you can add a limit?

[2017-10-13 00:44] rubensworks commented on #60
Yes, that will be the best way to fix it.

[2017-10-13 07:55] #60 closed, assigned to rubensworks

[2017-10-19 18:39] Macrophage001 opened #61 "Item Exporter/Inventory Reader set ups causing lag"
I'm making an inventory sorting system where I use inventory readers underneath actually additions storage crates and item exporters attached to the back, each containing a variable card that's been linked to the list attribute of their respective inventory reader. However once I start placing the variable cards inside the item exporter, the game starts to lag severely and gets worse the more vari

[2017-10-19 22:53] rubensworks commented on #61
@Macrophage001 Can you try profiling your setup and send me the .nps file?

More information can be found here: https://refinedstorage.raoulvdberge.com/wiki/profiling

[2017-10-19 23:21] Macrophage001 commented on #61
Here you go:

[lag_spike.zip](https://github.com/CyclopsMC/IntegratedTunnels/files/1400294/lag_spike.zip)

[2017-10-20 00:08] rubensworks commented on #61
Thanks!
It looks like the main bottleneck seem to be the usage of list variables, which is understandable.
Will have a look if I can do some optimizations there.

In the meantime, you can reduce server load by reducing the frequency of some of your parts, as I assume you don't need them working every tick.

Note to self: optimize list proxies.

<img width="1033" alt="screen shot 2017-10-20 at 09 0

[2017-10-20 00:47] Macrophage001 commented on #61
Ah ok. Thanks for the advice!

[2017-10-20 22:55] rubensworks opened #62 "Infinite RF exploit with TE"
With TE power cells, you can put an interface on the blue side of a cell, export it anywhere else, but the energy won't actually be exported from the cell. (Infinite RF)

[2017-10-22 17:05] MarkusG opened #63 "Will world importers/exporters be added to 1.10.2?"
Title. Will these items be added to the 1.10.2 version of the mod or will they remain 1.12 exclusive?

[2017-10-23 01:21] rubensworks commented on #63
No, I won't backport these to 1.10.2, I don't have enough time myself for this, just for maintenance, sorry :/

[2017-10-23 01:21] #63 closed, assigned to nobody

[2017-10-23 13:19] pazzoeo opened #64 "Make Item Slot a variable"
Or add some way to change item slots without doing it manually, would be really useful for machines like the Arc Furnace from IE and the Induction Furnace from IC2, which go faster if you distribute the items in all of their slots.

[2017-10-24 11:02] #64 closed, assigned to rubensworks

[2017-10-24 11:04] rubensworks commented on #59
I just pushed a new change with regards to the item inventory caching system (which was probably causing the problem).

Would someone here be able to try the latest dev build (link in README, still building at the time of writing), and see if this resolves the issue for you?

[2017-10-24 16:05] Thutmose opened #65 "Link a card to energy input/output to display the value in a display"
With the following setup, I can extract energy out of the voltorb, and charge the battery with it:
![image](https://user-images.githubusercontent.com/2363472/31954329-4cffeae6-b8b3-11e7-93d6-c3621fee28a9.png)

Is there any way to get the energy being imported to show on the display? the gui for the importer doesn't seem to have the slot to allow linking a card to the inputted value.

Ideally you s

[2017-10-24 22:39] #62 closed, assigned to rubensworks

[2017-10-24 23:15] rubensworks commented on #65
Nice, Voltorb with an energy capability :-)

This can be done using the Delayer, which allows you to calculate the differential value of the energy level of the battery.

Many people however seem to be requiring such a mechanism, so perhaps I should start looking into a simplified form of the Delayer to calculate things like RF/t, or items/t more easily. I'll think about it.

[2017-10-24 23:15] #65 closed, assigned to nobody

[2017-10-25 00:12] Thutmose commented on #65
Ahh, so I need to use a battery for this, is there any limit to what the battey can input/output? I want to have a setup where I have the voltorbs producing baseline power, then turn on a nuclear reactor when I need more, so ideally I will use this as a substation like thing to control my various power systems.

All electric types in pokecube have had energy capabilities since they were added as a

[2017-10-25 00:16] rubensworks commented on #65
No, the batteries are intentionally made quite "dumb". I/O limitation can be achieved using the more advanced energy importer/exporter aspects.

For instance, you could read the energy inside the battery, get the history of that value using a Delayer, take the difference of the two latest values to get the increase in last tick, and if that value is too low, power on your other energy production s

[2017-10-25 00:21] Thutmose commented on #65
ahh ok, I didn't even notice a delayer when I was looking through, I guess I should have looked a bit more carefully

[2017-10-25 02:08] Thutmose commented on #65
how do I go about linking the variable card to the value in the battery?

I have tried crafting the card with it, tried various ways to access it, not sure how to go about linking the card to it.

[2017-10-25 02:11] rubensworks commented on #65
That can be done using just Integrated Dynamics, not Tunnels.
You have to place a machine reader on the battery, and link a variable to the value of the target in the GUI.

[2017-10-25 02:12] Thutmose commented on #65
ahh ok, will do that, thanks for the quick response

[2017-10-25 02:14] Thutmose commented on #65
looking at this, I don't even need the delayer, I can just have it turn on additional power if the battery has a stored value below whatever full - drain is

[2017-10-29 07:57] #57 closed, assigned to rubensworks

[2017-10-29 08:54] rubensworks commented on #61
I've implemented a small optimization that should have a huge impact on item list performance.
Feel free to try out the latest Integrated Dynamics dev build to see if this helps in your case.

[2017-10-29 08:55] #61 closed, assigned to rubensworks

[2017-10-30 10:55] rubensworks commented on #59
Assuming resolved.

[2017-10-30 10:55] #59 closed, assigned to nobody

[2017-11-02 18:09] KAfable opened #68 "Player Simulator voiding some items"
Hi,

I'm having a little bit of trouble trying to get the Player Simulator to work with Botania's Horn of the Wilds. Here's my set up

I have a chest with Botania's Horn of the Wild (when held down in a right click by a player, it'll break all grasses and harvest crops, dropping them items onto the ground, I know the Drum of the Wild exists, but it isn't very fast/powerful compared to aa automated

[2017-11-02 18:19] Vyraal1 commented on #68
In another test I was using Cyclic's Evoker Fang Wand. This time I inserted a variable card programmed to an Evoker Fang with 100% durability. The wand mimics the Evoker mob's ability by shooting out entities that damage mobs when you right click the ground with it, I inserted the programmed variable card into the "Click Item" slot, and then set right click to true, and continuous click to false.

[2017-11-03 00:43] rubensworks commented on #68
Items shouldn't be voided indeed, will look into it.

[2017-11-03 01:51] josephcsible opened #69 "Split functionality of item/fluid/energy interfaces"
Note: Everything I say here applies equally to items, fluids, and energy, but for simplicity, I'll talk only about items.

Our item interfaces currently perform two distinct functions:
1. Claiming the inventory that they're connected to as belonging to the network (like an [External Storage](https://refinedstorage.raoulvdberge.com/wiki/external-storage) from Refined Storage). Most of the time that

[2017-11-03 01:57] rubensworks commented on #69
Yes, this should indeed be improved.

I think option 2 would be a clean solution. Perhaps we could do this by adding "Input" and "Output" toggles to the interface part settings, which directly correspond to the item (and fluid and energy) interface methods.

[2017-11-04 14:10] darkshadow543 opened #70 "Player simulation crash"
MC: 1.12.2
IT: 1.3.4
ID: 0.9.4
CC: 0.10.22
Forge: 14.23.0.2528
Crashlog: https://pastebin.com/8r2niKLi
I think it might have to do with loading.

[2017-11-04 23:06] rubensworks commented on #70
Fake player seems to be null for some reason. This seems to be related to incorrect initialization indeed.

[2017-11-06 22:29] homemmakako commented on #70
I just had the same problem. It might be useless, but here is a second [crash log](https://pastebin.com/ken7bJDu) 😝

[2017-11-06 23:16] DaComputerNerd717 opened #72 "Configurable limitations on transfer rate"
Add a config option for an upper limit to the tunnel's transfer rates. One each for items, fluids, and energy. Could use -1 and down as an infinite transfer rate, and any positive/zero value as maximum transfer rate.

[2017-11-06 23:23] rubensworks commented on #72
This is already possible in the config files. `fluidRateLimit` for instance is the maximum fluid rate, which is currently set to the maximum value. For energy, this has to be configured in Integrated Dynamics.
The max rate of item transfer is always once stacksize.

[2017-11-06 23:23] #72 closed, assigned to nobody

[2017-11-08 10:24] rubensworks commented on #70
@homemmakako Good thing you sent me that crashlog, because that was actually being caused by a completely different problem :-) Will be fixed in the next update.

[2017-11-08 10:44] rubensworks opened #73 "Add Player Simulation option to sneak"
Some click actions could use an option to enable player sneaking.

[2017-11-08 12:27] #70 closed, assigned to nobody

[2017-11-09 08:41] #68 closed, assigned to nobody

[2017-11-12 08:55] rubensworks opened #74 "World Energy Importers and Exporters are always active"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
World Energy Importers and Exporters ignore the boolean value of the active aspect.

[2017-11-12 08:57] rubensworks opened #75 "Importers/Exporters accepting anything when active"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
When fluid importers are used with the boolean aspect, any kind of fluid can be pushed in it even if the boolean value is false.

Next to this, adding an aspect property to disable active importing/exporting would also be nice.

[2017-11-12 09:40] rubensworks commented on #75
On second thought, this is not a bug, just not a feature.

[2017-11-12 09:54] rubensworks commented on #74
Can't reproduce in a clean environment, so must be caused by something else.

[2017-11-12 09:54] #74 closed, assigned to nobody

[2017-11-13 00:11] josephcsible commented on #75
I think this is actually a bug that should be fixed. Being false shouldn't be any different than being completely inactive. Related: #69. I'm not sure whether these parts (item importers/exporters do it too, not just fluids) should expose the network like this.

[2017-11-13 00:15] rubensworks commented on #75
@josephcsible I'll make it a feature request then.

The difficulty lies in the fact that not only booleans, but also the more complex filter aspects should be checked. It is not impossible to do, it just takes some implementation effort.

They should IMO. Some things (like IE's garden cloche) do not accept manual importing, they push things themselves. So for the user it is too confusing that IT i

[2017-11-13 00:48] josephcsible commented on #75
Ehh, I'm not so sure. But in any case, they definitely need an option to turn it off, like we want to add to interfaces.

[2017-11-13 00:49] rubensworks commented on #75
I can agree with that, but it should be enabled by default.

[2017-11-13 00:53] josephcsible commented on #75
If this mod weren't released yet, I'd disagree, but for BC reasons, yes, it should. Anyway, once we set up that option, for consistency, we should make it always work if it's on, even without a variable card.

[2017-11-14 10:30] yuanjie000 opened #76 "Find typo in en_US.lang"
_Only keep the issue types that are applicable._

- :bug: Bug

this is fluid text, but the content is about energy!

[2017-11-14 10:31] rubensworks commented on #76
Whoops! Thanks for reporting!

[2017-11-16 00:52] jinkhya opened #77 "Energy transfered to Actually Additions"
Hello,

Could you add some compatiblity with Actually Additions machines so that they get energy from the nerwork with the Energy Interfaces? That'd be awesome ! :)

Thanks in advance,
Jin

PS : Version is IntegratedTunnels-1.10.2-1.2.6
with forge 12.18.3.2422

[2017-11-16 00:55] rubensworks commented on #77
That's already possible, as AA machines also accept Forge energy.

[2017-11-16 00:55] #77 closed, assigned to nobody

[2017-11-16 01:22] jinkhya commented on #77
Then it doesn't work properly. I could transfer energy to EnderIO machines but not to the Atomic Reconstructor nor the display stands.

[2017-11-16 01:25] josephcsible commented on #77
Integrated Tunnels doesn't automatically push or pull energy anywhere. Unless everything that you're connecting it to does, you need to use importers on your generators, interfaces on your batteries, and exporters on your machines (and activate the importers and exporters with variable cards). Are you doing this?

[2017-11-16 01:28] jinkhya commented on #77
I have importers on my battery that is getting powered directly, then interfaces on machines. I can try using an exporter on my stands but I'm not sure why I'm getting power on EnderIO machines with interfaces then if I need exporters. I'll try that though.

[2017-11-16 01:43] jinkhya commented on #77
same issue, I put energy exporter on alloy smelter and on display stand ; energy interface on a full battery. The alloy smelter is getting energy, the display stand isn't.

[2017-11-16 01:48] rubensworks commented on #77
Sounds like an issue with AA then.
They are probably not supporting FE yet in their 1.10 versions.
I doubt they are still maintaining that version though.

Installing this mod might help: https://minecraft.curseforge.com/projects/energysynergy

[2017-11-16 20:13] jinkhya commented on #77
Hello, yep it does solve the problem, thanks a lot !
take care.

[2017-11-17 03:57] moonheart08 commented on #73
Would pushing/holding buttons even be possible for a fake player? If so, that'd be nice too. (Some mod items have secondary abilities triggered by pushing keys)

[2017-11-17 04:01] rubensworks commented on #73
@moonheart08 Certain hotkeys you mean? In theory that would be possible yes, but practically this would require a lot of hacking, so not something I plan on doing anytime soon.

[2017-11-17 05:25] moonheart08 commented on #73
Yea, certain hotkeys. Plus, it'd give me another excuse to use integrated tunnels more :p
I can see why it'd be hacky, tho.

[2017-11-17 05:30] rubensworks commented on #73
@moonheart08 Can you make a separate issue on this? It's an interesting idea, maybe I'll have some time in the distant future.

[2017-11-17 05:40] moonheart08 opened #78 "Allowing the Player Simulation to use keybindings"
#### Issue type:
- :heavy_plus_sign: Feature request

Allowing the Player Simulation to use keybindings would introduce a whole new realm of automation.

[2017-11-21 20:29] Kaladum opened #79 "Operator chrashes the game and prevents restarting."
#### Issue type:
- :bug: Bug
____
#### Short description:
Inserting an operator set to Item Damage to the predicate slot of the item im/exporter can crash the game and prevent loading the world.

#### Expected behaviour:
Recognize the operator and mark it as invalid.

#### Actual behaviour:
The bug occurs after you insert a variable card with the operator "Item Damage" in the slot for item predica

[2017-11-21 22:30] rubensworks commented on #79
That's strange, you should not even be able to insert that predicate.
I'll make sure to add a check to prevent that in the next update.

Don't the tutorials in the book help you?

[2017-11-22 16:18] Kaladum commented on #79
Thx for your answer and the for fixing the bug in the next update.

I somehow missed the Tutorials part of the book and looked at the page for the importer. I am sure i can figure it out with this informations.

[2017-11-24 22:04] awebneck opened #81 "Player Simulator "Click Item" still voiding items"
#### Issue type:

- :bug: Bug

____
#### Short description:

When using the Player Simulator "Click Item" aspect in 1.12-1.3.5, while the simulator does appear to consume the item from an attached inventory, no result is seen in the world and the item is voided. This does *not* happen with the "Click" (i.e. any item) aspect - everything works fine there. But when using a variable representing an i

[2017-11-24 22:14] awebneck commented on #81
Should note that I did see issue #68, and verified that the version of the mod I'm using (1.12.2-1.3.5) includes the fix for that issue, at least according to the git tags. Issue persists.

[2017-11-24 23:26] awebneck commented on #81
Should also add that this occurred initially in the new Direwolf20 1.12.2 FTB modpack.

[2017-11-24 23:57] rubensworks commented on #81
Thanks for reporting! Will look into it.

[2017-11-25 01:18] awebneck commented on #81
@rubensworks Dug into it a bit on my own - looks like this line in the CommonCapabilities library https://github.com/CyclopsMC/CommonCapabilitiesAPI/blob/6fb398ab7266e521bd1882226df8eb448e7cbf44/capability/itemhandler/DefaultSlotlessItemHandlerWrapper.java#L54 is actually changing the matchStack (as the matchStack is simply a reference back to the actual stack in the chest) - so by the time it tri

[2017-11-25 01:26] awebneck commented on #81
PR https://github.com/CyclopsMC/IntegratedTunnels/pull/82 resolves it, though that solution may be a bit naive - you'd know better than I. :)

[2017-11-25 08:44] rubensworks commented on #81
@awebneck Thanks a lot for looking into this, you just saved me some debugging time :-)

[2017-11-25 08:49] #81 closed, assigned to nobody

[2017-12-01 18:45] nicolas-evra opened #84 "Game crash using Integrated dynamaics/tunnels"
#### Issue type:

- :bug: Bug

____
#### Short description:
I'd like to create a automatic canola energy system using Integrated Dynamics and Tunnels.
I'm setting up the system using a world fluid importer and exporter, a block reader and an entity exporter.
I'm creating a variable with the block reader et a constant with air with the materialiser.
After that using the programming tool, If the blo

[2017-12-01 22:00] josephcsible commented on #84
What is an "entity exporter"? Neither Integrated Dynamics nor Integrated Tunnels adds an item by that name.

[2017-12-01 22:10] josephcsible commented on #84
I did manage to reproduce this without that, though, so bug confirmed. Here's what I did exactly:
1. Created a network with a block reader, a variable store, a materializer, and a world fluid exporter
2. Materialized "air" from the block reader
3. Used == in the logic programmer on the block reader output and air
4. Put the block variable cards in the variable store
5. Placed the resulting card in

[2017-12-01 22:55] nicolas-evra commented on #84
Hi.
Yes sorry I couldn't remember the exact name for the "entity exporter" I was reffering to the "World Item Exporter".

I'm glad that you have been able to reproduce the bug and I hope you will find a way to correct it because your mod is really cool and usefull.

Cheers

[2017-12-02 07:15] #84 closed, assigned to nobody

[2017-12-03 09:39] Rosethorns opened #86 "[1.12.2][1.3.5] World Fluid Exporter Crashes Game on Export All Fluids"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug
____
#### Short description:
Game Crashes when placing a blank variable card into the "export all fluids" slot of a World Fluid Exporter

#### Expected behaviour:
For the World Fluid Exporter to place the lowest priority fluid in the network

#### Actual behaviour:
Game Crashes when placing a blank variable card into t

[2017-12-03 14:52] josephcsible commented on #86
Duplicate of #84, already fixed in dev and will be fixed in the next version

[2017-12-03 14:52] #86 closed, assigned to nobody

[2017-12-04 04:39] Thornstromb opened #87 "Fluid Import-Export Crash"
#### Issue type:
- :bug: Bug

____
#### Short description:
Attempting to make a superbasic fluid tank-to-world logic pipe (fluid import, fluid world export) causes an immediate crash, and autocrashes the world on reloading.

#### Expected behaviour:
Fluid will be exported onto target block, no crash

#### Actual behaviour:
CRASH.

#### Steps to reproduce the problem:

1. Start game with ID/IT inst

[2017-12-04 12:16] josephcsible commented on #87
Duplicate of #84 (and #86)

[2017-12-04 12:16] #87 closed, assigned to nobody

[2017-12-05 03:13] CplPibald opened #88 "IInventory and ISidedInventory support"
#### Issue type:
- :heavy_plus_sign: Feature request

There are still a number of mods out there that don't support the ItemHandler capability, and Integrated Tunnels can't integrate with [those mods](https://github.com/gkbm2013/tinker-IO/issues/60).  In an ideal world, all Forge mods should be updated to support Forge capabilities, but that isn't always practical.  Most other item transport mods

[2017-12-05 03:18] rubensworks commented on #88
Sorry, but I won't do that, as those interfaces are deprecated. It would require too much work to work on supporting something that has been deprecated for a long time already.

In order to handle those outdated mods, one could dynamically inject item handler capabilities for mods that do not support them. (Just like [Energy Synergy](https://minecraft.curseforge.com/projects/energysynergy) does fo

[2017-12-05 03:18] #88 closed, assigned to nobody

[2017-12-05 03:58] ghost opened #89 "Item exporter property Item Slot crash"
#### Issue type:

- :bug: Bug

____
#### Short description:
Item exporter crashes server while attempting to insert from a list of items into an inventory slot outside the valid range.

#### Expected behaviour:
Graceful denial of export?

#### Actual behaviour:
Server crash.

#### Steps to reproduce the problem:

0. Install FTB Presents Direwolf20 1.12(v1.2.0).
1. Attach Item exporter to machine (

[2017-12-05 04:02] rubensworks commented on #89
Indeed, that should not crash.

[2017-12-05 04:08] josephcsible commented on #89
We should see if the crash happens with a vanilla chest or furnace in place of the AE2 inscriber. If it doesn't, then this is their bug, not ours.

[2017-12-05 12:44] josephcsible commented on #88
Huh? Where does it do that?

[2017-12-05 13:49] rubensworks commented on #88
@josephcsible My bad, I meant Energy Synergy.

[2017-12-05 21:21] AgentA1cr opened #90 "[Suggestion] Read Transfer Rate for Energy Interfaces"
#### Issue type:
- :heavy_plus_sign: Feature request

It would be useful if the rf/t flowing through an energy interface could be written to a variable.

[2017-12-05 21:40] josephcsible commented on #90
You can already easily get this with a Delayer. IMO, we already have too many "sugar" operators.

[2017-12-05 22:13] AgentA1cr commented on #90
Thanks for the quick reply. I'll look into that method.

[2017-12-05 22:52] rubensworks commented on #90
This can indeed be done with the delayer already.

[2017-12-05 22:58] AgentA1cr commented on #90
Looking at the delayer, I can see how one could measure the net change in the energy level of a block over time, but not how one could measure raw energy throughput from one interface to another when the block  the energy is coming from is also receiving energy. I want to be able to connect the integrated dynamics system inline in my power network and measure the rf/t flowing through it. Is there

[2017-12-05 23:02] josephcsible commented on #90
That's true, you can't currently do that at all. The problem is that in general, blocks don't keep track of that, so it's not something we can just add a reader for.

[2017-12-05 23:03] AgentA1cr commented on #90
I don't want to measure it in an external block. I want to measure it in an Integrated Tunnels energy interface. I want to know how much power an interface is receiving or outputting.

[2017-12-05 23:07] rubensworks commented on #90
This could be done by implementing a new type of energy interface, which tracks the energy that was moved per tick.

I'll reopen this issue, just in case anyone would be interested in implementing this in an addon mod. But this most likely won't be implemented in IT.

[2017-12-05 23:19] josephcsible commented on #90
Here's an idea I have for something like this: a Flow Gauge Reader. It would have two sides that each implement IItemHandler, IFluidHandler, and IEnergyStorage. Whenever anything was pulled/pushed from one of those sides, it would proxy it to the other side, then take note of whatever it was. The other 4 sides would connect to ID networks and act like an aspect reader that shows whatever was trans

[2017-12-05 23:21] rubensworks commented on #90
@josephcsible That's also a possibility (perhaps even with 6 sides instead of only two).
But I still think this shouldn't be part of IT. This would make a nice addon though.

[2017-12-05 23:22] josephcsible commented on #90
I actually thought it would fit well in ID, since it seems to be all about reading stuff.

[2017-12-05 23:23] rubensworks commented on #90
Not sure,  it feels a bit too use-case-specific. I might change my mind in the future though.

[2017-12-06 23:56] brisingraerowing opened #91 "[Curseforge] Possible Typo on Curseforge project page"
#### Issue type:

_Only keep the issue types that are applicable._

- :question: Question

On the Curseforge project page there is the phrase 'for extracting or ingesting energy'. Shouldn't that be 'for extracting or **inserting** energy'? As it is, both terms mean roughly the same thing (taking energy out), and it reads kind of weird.

[2017-12-07 14:13] rubensworks commented on #91
It's the same thing, really. I use 'ingesting' more than 'inserting' in my day-to-day life, which is probably why I used it there. Also, it sounds a bit fancier, so I'll leave it as is :-)

[2017-12-07 14:13] #91 closed, assigned to nobody

[2017-12-07 23:39] #76 closed, assigned to nobody

[2017-12-09 23:42] SirFlip opened #92 "Crash - Player Simulator - Morph"
#### Issue type: Server Crash

_Only keep the issue types that are applicable._

- :bug: Bug
____
#### Short description:
Crash when killed by Player Simulator
Also happens when mobs are killed

#### Expected behaviour:
Player/mob dies no crash

#### Actual behaviour:
Game crashes

#### Steps to reproduce the problem:

1. Get killed by Player Simulator

____
#### Versions:

- This mod: 1.3.5
- Cyc

[2017-12-10 09:38] rubensworks commented on #92
Nothing we can do about this on our end unfortunately (as has been confirmed on the referenced issue).

[2017-12-10 09:38] #92 closed, assigned to nobody

[2017-12-10 13:13] #89 closed, assigned to nobody

[2017-12-10 13:13] #79 closed, assigned to nobody

[2017-12-12 01:00] yujukitten opened #93 "Unrecoverable crash on Server after placing world fluid exporter"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
I was attempting to automate terracotta creation in wooden barrels and upon testing different connectors to the barrel. I had a severe crash and could only get back into the server after rolling back.
It was a world Fluid exporter that I had placed directly before the crash.

#### Expected

[2017-12-12 01:35] josephcsible commented on #93
Duplicate of #84, #86, and #87.

[2017-12-12 01:35] #93 closed, assigned to nobody

[2017-12-16 19:15] josephcsible opened #94 "Round-robin mode"
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request

Per https://www.reddit.com/r/feedthebeast/comments/7jlxzw/roundrobin_with_integrated_dynamics/, we should add a way to make importers and exporters round-robin between different interfaces, instead of always going in priority order.

[2017-12-17 08:03] rubensworks commented on #94
Yep, has been on my todo-list for a long time. I was thinking of just making going round-robin within interfaces with the same priority, as that order is semi-random now.

Note to self: Add `setTargetInterface(priority, index)`, `resetTargetInterface(priority)`, `getTargetInterfacesCount(priority)` to item network. Parts that have round robin setting enabled will call this before each action.

[2017-12-17 15:32] #18 closed, assigned to nobody

[2017-12-17 15:57] #73 closed, assigned to nobody

[2017-12-18 10:43] rubensworks opened #97 "Support BuildCraft MJ tunneling"
We should either add aspects to the energy parts to use [MJ](https://github.com/BuildCraft/BuildCraftAPI/tree/8.0.x/api/buildcraft/api/mj), or create new parts for these.

In either case, we shouldn't allow conversion between RF/FE and MJ, that would be something for EnergySynergy.

[2017-12-19 12:44] rubensworks opened #98 "Tunnel Proxy"
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request
____

A _Tunnel Proxy_ is a block that exists in item, fluid and energy form, and allows restrictions to be placed on each side.

When the gui is opened, is should show a variable slot input and output side (2 times 6). These slots take boolean, element (item, fluid, integer), element lists or p

[2017-12-19 13:50] rubensworks commented on #44
Same issue exists at CyclopsMC/IntegratedDynamics#278, closing this in favor of that one.

[2017-12-19 13:50] #44 closed, assigned to nobody

[2017-12-24 16:35] fiws commented on #59
I think I have the same problem with the Block breaker from Actually Additions. The one probe shows a full inventory. Seems it only transfers every ~ 5 seconds.

[2017-12-25 09:36] rubensworks commented on #59
@fiws You _think_ so? Or can you consistently reproduce it in a clean environment? Also, are you using the latest mod versions?

[2017-12-25 13:58] fiws commented on #59
@rubensworks I was experiencing this. I manually placed blocks into the breaker and saw nothing happening for a few seconds.

But of course… as soon as i try to reproduce this everything works again (even with my original setup).

[2017-12-25 15:38] fiws commented on #59
Aaand, it happened again. Took some time to occur again. Could it be an issue with my (extra utilities) chunk loader?

Video: https://i.imgur.com/4l0Enob.mp4

Edit: Replacing one cable fixes the problem again

[2017-12-25 18:57] rubensworks commented on #59
@fiws What happens when you use another aspect to import the items? Does it also take this long?

Would you be able to figure out what triggers it in your case? And what makes it go away again?

[2017-12-26 14:10] rubensworks commented on #94
WIP: https://github.com/CyclopsMC/IntegratedDynamics/tree/feature-roundrobin

<blockquote><img src="https://avatars2.githubusercontent.com/u/11808375?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/CyclopsMC/IntegratedDynamics">CyclopsMC/IntegratedDynamics</a></strong></div><div>Integrat

[2017-12-27 01:10] cpw opened #99 "Game Crash: Operator ValueTypeOperator$ValueOperator cannot be cast to ValueTypeBoolean$ValueBoolean"
#### Issue type:
- :bug: Bug
___
#### Short description:
Game crash, ClassCastException.

#### Expected behaviour:
Game doesn't crash

#### Actual behaviour:
Game crashes, with a class cast exception. World cannot be loaded anymore.

#### Steps to reproduce the problem:
1. Not sure. I was trying to create an Operator that would fulfill the ItemExportPredicate - basically, I was trying to create a

[2017-12-27 12:32] rubensworks commented on #99
Thanks! Looks like a value type validation check that is missing.

Note to self: check if the mechanism that disables networks after crashes is still working.

[2017-12-27 12:38] rubensworks opened #100 "Add setting to only move exact amounts"
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request

____

At the moment, when moving an item (or fluid/energy) amount, it will also move items _less than_ the specified amount. We should add an option that only triggers the transfer when exactly the given amount is available.

For aspects like lists, a similar property should be added.

[2017-12-27 14:01] #99 closed, assigned to nobody

[2017-12-28 14:27] rubensworks commented on #94
Implemented in CyclopsMC/IntegratedDynamics#469 and CyclopsMC/IntegratedTunnels#101

[2017-12-28 14:27] #94 closed, assigned to nobody

[2018-01-03 17:06] rubensworks opened #102 "NBT filtering aspects"
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request

____
Add single and list-based aspects that allow filtering items/fluids with NBT tags. Add options to filter at least the given entries, at most the given entries, or both (=exact)

[2018-01-04 08:32] AntiBlueQuirk opened #103 "Capability Interfaces"
#### Issue type:
- :heavy_plus_sign: Feature request

A Capability Interface would function much like the Capability Proxies from the same-named mod, except that they would connect over the logic network. Not only would this allow for faces of machines to be accessible anywhere on the network, it would also greatly increase support for other mods, acting as a sort of universal interface. For insta

[2018-01-04 08:42] rubensworks commented on #103
Good idea.

Not sure yet if I want this to be part of IT, or create a separate addon mod for this.

[2018-01-04 14:32] #102 closed, assigned to rubensworks

[2018-01-10 19:39] wrincewind opened #106 "Server crash with Biome Crystals"
#### Issue type: Crash

- :bug: Bug
____
#### Short description:
When I put an item card set to 'Biome Crystal: Storage Cell' from the Random Things mod into the 'Export Item' slot of an item exporter, the server crashes, booting me out with an error of 'server closed' and causing the server to reboot. The same thing happens when the Biome Crystal is the first/only item in a list card,  and happen

[2018-01-10 19:41] rubensworks commented on #106
Could you share the crashlog? I can't find it in the log you provided.

[2018-01-10 20:00] wrincewind commented on #106
Let me ask the admin of the server - my client didn't crash, it just booted me off the server. I'm playing SMP, sorry for not mentioning that sooner.

I can confirm that the crash does *not* occur in single player when using a *blank, cheated in* biome crystal. Trying to get a non-cheated one is proving a little challenging, so a single-player crash log might take a little longer...

[2018-01-10 20:09] wrincewind commented on #106
Okay, tried doing it in a single player world on the same instance, and it worked fine - no crash, no GUI error, nothing.

this should be the latest crashlog.
http://www.sillydragon.ca/Minecraft/Live%20Server/crash-reports/crash-2018-01-10_12.34.00-server.txt

[2018-01-10 20:28] rubensworks commented on #106
Hmm, it seems to be caused by Random Things that calls `Biome#getBiomeName` (which is client-side only) from within `Item#getItemStackDisplayName` (server-side).

Typically, this isn't a problem, but ID calls this server-side.
Ideally, the stack itself should be sent to the client, but due the way it works now, this would require a lot of hacking.

Note to self: add a (temp?) try-catch around this

[2018-01-10 20:31] wrincewind commented on #106
Fair enough! So, sounds like it's an issue with Random Things. You wanna go tell 'em, or shall I?

Also, got any suggestions for safe ways to filter these? I think I can do something with having the name equal a string, but I'm not sure about partial matches.

[2018-01-10 20:34] rubensworks commented on #106
No, no need to tell them. It's something that should be handled better in ID. RT does nothing wrong.

[2018-01-11 19:42] rubensworks commented on #100
Implemented for items, fluids and energy, will be included in next update.

[2018-01-11 19:42] #100 closed, assigned to rubensworks

[2018-01-13 12:37] rubensworks commented on #106
Fixed in https://github.com/CyclopsMC/IntegratedDynamics/commit/7ba9c85490bef42d0ba7ac06334d3930caad2980

[2018-01-13 12:37] #106 closed, assigned to nobody

[2018-01-22 19:46] WilxGaming opened #108 "Slow at putting bees in Apiaries"
snail: Performance issue

#### Short description:
An Importer on the bottom of an Apiary.
Interface on the back of the Apiary with a priority of 10.
Interface on a chest with a priority of 0.

#### Expected behavior:
Normally transfers happen instantly.

#### Actual behavior:
It took several seconds (a noticeable delay) to put the bees in the apiary.
Without setting the priority the chest would be

[2018-01-22 19:54] rubensworks commented on #108
@WilxGaming Thanks! Will look into it.

Note to self: possibly an issue in the item transfer caching mechanism.

[2018-01-25 23:53] ZeekDaGeek opened #109 "Make channel settings less confusing"
#### Issue type:

- :bug: Bug

____
#### Short description:
"Item Importers" and similar have an "Energy Channel" while "Item Interfaces" have an "Interface Channel". At first I thought this was just a bug with the language file or something but when I change the Item Importer's channel it will still only send items to Interface channel 0, so it seems to be an actual problem with what number it's

[2018-01-25 23:58] josephcsible commented on #109
Not a bug. You set the channel used by importers and exporters in the aspect settings, not the part settings.

[2018-01-26 00:06] ZeekDaGeek opened #110 "Magical Disappearing Items"
#### Issue type:

- :bug: Bug

____
#### Short description:
For this magic trick you will require a few things. 1 Player Simulator, 1 World Block Exporter, 1 Item Interface and all the cables required to connect them together.

#### Expected behaviour:
Not losing all of the tools.

#### Actual behaviour:
Losing all of the tools.

#### Steps to reproduce the problem:

1. Set up your magic kit as sh

[2018-01-26 00:08] ZeekDaGeek commented on #109
Why is there an energy channel option on Item Importers then? What's that for?

![Question mark](http://zeekdageek.tv/ss/Zl5wg.png)

[2018-01-26 00:09] josephcsible commented on #109
If parts are configured to require energy to work, that's the channel that they draw it from.

[2018-01-26 00:11] ZeekDaGeek commented on #109
May I offer a little icon as a suggestion then, saying something like "Settings do not require energy for operation." and graying out the input.

[2018-01-26 00:13] ZeekDaGeek commented on #109
Also having them uniformly called "Interface Channels" to prevent confusion would be very helpful. At the moment the Item Importer just says "Channel"

[2018-01-26 07:09] rubensworks commented on #109
Yeah, I was concerned about this becoming confusing...

[2018-01-26 07:10] rubensworks commented on #110
Thanks for reporting, this is obviously not supposed to happen.

[2018-01-27 11:23] #110 closed, assigned to nobody

[2018-01-27 11:31] rubensworks commented on #108
@WilxGaming Can't reproduce this here, transfer works just fine. Are you sure the tick rate of any of the parts haven't been lowered?
Can you share a screenshot of your setup? (A video demonstrating the issue would even be better if possible)

I assume you meant an exporter on the bottom of the apiary, the importer obviously won't do anything.

[2018-01-27 17:16] WilxGaming commented on #108
@rubensworks

No. I have an Importer on the bottom of the apiary. When the queen splits into a princess and drones, the importer pulls them out, then tries to put the princess and any drones it can back in. Combs or drones that don't fit go into the chest.

[2018-01-27 17:19] rubensworks commented on #108
Ok, but what are _the bees_ in this case? The ones from the apiary? Or the ones from the chest?

How can I reproduce this easily?

[2018-01-27 17:28] WilxGaming commented on #108
@rubensworks

From the apiary output slots, into the apiary input slots.

Put a queen in the apiary, or a princess and drone to make a queen, and wait for it to finish it's lifespan. Then watch to see how long it takes to remove and replace them. You need to be looking in the apiary when it happens.

Cultivated is one of the bees with the shortest lifespan, 4:35 min.

[2018-01-27 17:33] rubensworks commented on #108
@WilxGaming Yeah, waiting 4:35 min is way too long for me. Is there a quicker way for me to reproduce this? (Haven't played with bees before, so don't really know much about it)

[2018-01-27 17:43] WilxGaming commented on #108
@rubensworks
Cheating in a Nova frame and placing it in the the apiary reduces the lifespan to 0, but it still not instantaneous.

[2018-01-27 17:51] WilxGaming commented on #108
@rubensworks  Using an EU2 Transfer node is much faster, but they don't have a priority system. So it's an integrated tunnel thing, not just an apiary thing.

[2018-01-30 12:43] rubensworks commented on #108
Apparently that Nova frame is not part of Vanilla Forestry. Until I either have a quicker and more convenient way or have a lot of time, I'll put this on hold.

@WilxGaming In the meantime, are you sure the delay is not just half a second (which is normal)? Are you also experiencing this delay with the same setup on regular chests? (It _is_ possible to configure this delay (`inventoryUnchangedTick

[2018-02-06 06:28] bbf opened #111 "Loosing/duplicating Watering Can from Mystical Agriculture when using Player Simulator"
#### Issue type:
- :bug: Bug

#### Short description:
I'm trying to automate the use of a watering can from Mystical Agriculture using the Player Simulator.

#### Expected behaviour:
Crops grow happily and water particles effects should be seen.

#### Actual behaviour:
There are 2 possible outcomes:

1. The item is destroyed with the following log:
[21:45:22] [Server thread/WARN] [Integrated Tunne

[2018-02-06 06:41] rubensworks commented on #111
Thanks for reporting! Will look into it.

[2018-02-06 14:54] ofseaandstars commented on #111
Can also confirm that this bug exists. I attempted to use a player simulator with a bucket to milk a cow and the bucket just vanished from the network, and had the same error as above.

**Versions:**
- Integrated Dynamics: 1.12.2-0.11.1.jar
- Integrated Tunnels: 1.12.2-1.5.0.jar
- CyclopsCore: 1.12.2-0.11.2.jar
- Minecraft: 1.12.2
- Forge: 14.23.1.2610

[2018-02-06 23:12] rubensworks commented on #111
@AshenGaming Thanks, pure-vanilla mechanics will be easier for me to test with.

[2018-02-07 08:46] #111 closed, assigned to nobody

[2018-02-10 23:12] josephcsible opened #112 "Missing texture file"
https://github.com/CyclopsMC/IntegratedTunnels/blob/8a4323b99707b76e3ce9b5bc361cb9e74b3f6f03/src/main/java/org/cyclops/integratedtunnels/core/part/GuiInterfaceSettings.java#L39

This file doesn't exist in the repo.

[2018-02-10 23:15] josephcsible commented on #109
There's still one confusing case left: interfaces still have a seemingly useful, but useless, energy channel setting.

[2018-02-10 23:54] rubensworks commented on #109
That's intended, see extended commit message in 8dce20b65771f11a33825e2d7783379b771499f2.

[2018-02-10 23:54] #109 closed, assigned to nobody

[2018-02-10 23:55] #112 closed, assigned to nobody

[2018-02-10 23:58] josephcsible commented on #109
Maybe we should give them their own "disabled" tooltip unless/until they do start consuming energy.

[2018-02-11 00:02] rubensworks commented on #109
I don't consider this worth the effort, as I highly doubt this feature is widely used. Feel free to send a PR.

[2018-02-12 11:58] ofseaandstars opened #113 "Parts can be clicked through client-side, but not server-side"
#### Issue type:
- :bug: Bug

#### Short description:
When a player simulator and chest are connected (with an item interface), when opening the chest the milk bucket will empty.

#### Expected behaviour:
Opening the chest inventory will not affect the items already in the player inventory

#### Actual behaviour:
The milk bucket is emptied and restacked onto the existing buckets.

#### Steps to re

[2018-02-12 23:39] rubensworks commented on #113
Could you clarify your steps to reproduce the problem? Are you right clicking? Or is the simulator right clicking? Where do the buckets go? In your inventory? Of the chest?

[2018-02-13 08:03] ofseaandstars commented on #113
I'm right clicking the cow manually. The milk bucket when emptied just
stacks on top of the other bucket in my inventory.

[2018-02-13 08:08] rubensworks commented on #113
It's probably just a desync because you're sneaking through a block, your bucket probably was never filled. Can you try reproducing it without right clicking through that narrow space?

[2018-02-13 08:09] ofseaandstars commented on #113
I will do that when I'm at my PC later :)

[2018-02-13 10:28] ofseaandstars commented on #113
I just tested again without right clicking through the gap, and I can confirm that the bug doesn't occur.

[2018-02-13 10:33] rubensworks commented on #113
Alright, I'll change the title of this issue then.

[2018-02-16 20:20] josephcsible opened #114 "Can't extract water from Cooking for Blockheads sink"
https://www.reddit.com/r/feedthebeast/comments/7xyoqs/comment/duc9b8t

I haven't confirmed this bug myself yet, but I'll try it tonight.

[2018-02-16 21:04] josephcsible commented on #114
Confirmed. Versions:
* Minecraft 1.12.2
* Forge 2616
* CyclopsCore 0.11.4
* CommonCapabilities 1.4.0
* IntegratedDynamics 0.11.4
* IntegratedTunnels 1.5.2
* Cooking for Blockheads 6.3.17

[2018-02-16 21:09] KITbutler commented on #114
- Direwolf20 MC1.12.2 pack 1.8.0 with manual additions and mod updates
- Forge 14.23.1.2601
- Cyclops Core 0.11.4
- Integrated Dynamics 0.11.4
- Integrated Tunnels 1.5.2
- Cooking for Blockheads 6.3.17

The One Probe shows an empty tank on the sink. ID Fluid Reader output is fully consistent with an empty tank. Block Reader Tile Entity NBT shows _Empty: ""_ and some basic data, no hints towards an

[2018-02-18 00:56] KITbutler opened #115 "Item transfer sporadically stops working"
- :bug: Bug

____

Occasionally basic item transfer systems using importers/exporters+interfaces with blank variable cards for "input/output all items" simply stop working. There is space in the target inventory and the items can be retrieved manually. Observed with an Industrial Foregoing Plant Gatherer leading into an Ender Chest (the modded version) and with other Ender Chests leading into a dr

[2018-02-18 03:37] josephcsible commented on #114
Potentially Cooking for Blockheads' fault. It looks like they're using a container that says it's empty when you ask, but will give you water anyway if you try to drain from it.

[2018-02-22 23:23] josephcsible commented on #114
My fix for Cooking for Blockheads got merged, so this will start to work with it in its next release.

@rubensworks Do you consider this to just be a bug in their side that we don't need to worry about, or should we fix this on our side too?

[2018-02-22 23:32] rubensworks commented on #114
I guess we can assume contract-adherence of fluid handler implementors. If this would cause further problems in the future, we can revisit this. But for now, I guess we can consider this fixed.

[2018-02-22 23:32] #114 closed, assigned to nobody

[2018-02-23 23:49] Exanadu opened #116 "Using Player Simulator Question"
- :question: Question

So I am just attempting to use player simulator to place an item into a (grindstone) from a chest. I have a chest with item interface, connected to a player simulator and place the item card for the item into the click item slot. it is set to right click but nothing happens. I am not sure what else needs to be done here to grab the item from the chest? Any help would be appr

[2018-02-23 23:50] josephcsible commented on #116
What machine? Does right-clicking the machine make the item go in, or is there a GUI? If the latter, use an item exporter instead of a player simulator.

[2018-02-23 23:51] Exanadu commented on #116
sorry edited it just before your comment to be more clear, its a grindstone from astral sorcery

[2018-02-23 23:55] Exanadu commented on #116
im setting it up to right click the crystal into the grindstone from a chest and keep clicking until cutting is 100% which i have the rest setup but cannot get the player simulator to place a crystal no matter what i have tried so far.

[2018-02-24 00:06] Exanadu commented on #116
on a side note i cannot even get it to right click at all even if i place the crystal myself.  just putting click true should make it right click am i right?

[2018-02-24 06:50] rubensworks commented on #116
I have no idea tbh, I never played with AS myself. I know other people in the ID discord (link on curseforge) have managed to do this, perhaps you should ask around in there.

[2018-02-27 08:46] rubensworks commented on #115
Does it completely stop working? Or does it continue again after waiting a while? (like in #108)

Is anyone able to reproduce this using purely vanilla mechanics?

Note to self: probably a caching issue.

[2018-02-27 08:57] KITbutler commented on #115
Inconsistent but mostly seems to slow down. All ID elements are set to 1tick rates but extraction often slows down to once per second. This also happens a lot while inside a Compact Machine with the item storage claimed via FTB utils and chunkloaded via ChickenChunks.

Since most inputs are always-on farms I cannot easily tell the difference between >5s tick rates and a full stop, will try to test

[2018-02-28 07:47] rubensworks commented on #115
Hmm, not sure what could be causing this.

@KITbutler Are you by any chance seeing any messages in the server logs that ticks were skipped? As ID networks tick _after_ the world ticks, this could explain the slowdown.

Do you by any chance have fluid tunnels doing the same thing? If not, could you try doing so near the item transfer setup with a similar velocity? I'm asking this because item trans

[2018-02-28 22:12] KITbutler commented on #115
Absolutely no effects on fluids, those seem to work fine.

Monitoring from the nether via Ender Storage (tanks/chests) both items and liquids seem to mostly be stable with items only having minor delays once in a while. With three feeding servos extracting every 0.5s each I observe a maximum of 7 stacks in the ID input chest and only for a split second. Changing dimensions does cause skipped ticks

[2018-02-28 23:34] rubensworks commented on #115
For reference: the temporary item transfer halt (<10 seconds) is definitely because of caching. This is just something that's there to improve the efficiency in cases when no items need to be transferred.

In any case, I'll add an option soon to disable the caching optimization. If that's implemented, you can use it to check if disabling fixes the issue for you.

[2018-03-05 06:44] rubensworks commented on #115
@KITbutler There seems to be an config option available already to disable caching. Could you try setting `inventoryUnchangedTickTimeout` to 0 and see what changes? (This might increase server load slightly)

[2018-03-05 23:22] KITbutler commented on #115
In initial testing that seems to have completely eliminated the issues in my main world, hopping back and forth between my fairly active ore processor and the storage hasn't caused anything to stall so far. I'll keep observing it and try to redo the tests in creative. A few drawers also filled up after the config change and didn't cause issues so "no valid destination" doesn't seem to be a problem

[2018-03-05 23:25] rubensworks commented on #115
Ok, thanks for checking. So it's definitely a caching issue, I'll see what I can do.

[2018-03-06 20:46] bpwhelan commented on #115
Idk if this is useful information, but it seems to be an issue (for me at least) with transferring more than 1 TYPE of item over a certain period of time. I was able to keep multiple basic import/interface transfers of cobblestone going for a few days without slowdown, but most transfers with more than 1 type of item (farms mostly) slow down dramatically.

[2018-03-06 23:02] rubensworks commented on #115
@Beannsss Thanks for the info, that might help with finding the cause.

[2018-03-07 18:45] Kenshij opened #118 "[Question]"
Hi,

Energy Exporter only exports 4k RF per Exporter, but i can write a higher number in the export rate field. and its nowhere mentioned that it is limited to such a small number.

[2018-03-07 19:30] josephcsible commented on #118
The energy exporter has no such limit. It's the thing that it's attached to (or maybe the thing the the interface is attached to) that's limiting you.

[2018-03-07 22:46] bpwhelan opened #119 "Round robin behavior intended?"
#### Issue type:

_Only keep the issue types that are applicable._

- :question: Question

Just asking if this is intended behavior. Round robin halts on "current" interface IF an item isn't "pushed." I'm assuming the intended behavior would be "check interface, push items if possible, move onto next regardless of priority." (my assumption could be incorrect of course) In current implementation, i

[2018-03-07 23:11] rubensworks commented on #118
It should indeed be unlimited. It might be the energy battery (or any other kind of attached energy storage) that is limiting you.

Note that there's a `energyRateLimit` setting in the ID config file, which may have been set to 4K in your pack?

[2018-03-07 23:11] #118 closed, assigned to nobody

[2018-03-07 23:14] rubensworks commented on #119
Hmm, that sounds like non-intended behaviour. It should loop through _all_ interfaces until it finds a valid target.

Could you give some more details on your setup?

[2018-03-08 01:16] bpwhelan commented on #119
Hmmm... Seems inconsistent, I made a simple mock setup with 2 slime generators, the RR gets stuck on one of them, but not the other... I was however, able to completely tear this system down and rebuild it and get the same issue.

Video demo: https://www.youtube.com/watch?v=z9UMdkniotE&feature=youtu.be

[2018-03-08 07:19] Kenshij commented on #118
Then i must convert it to a bug, nope works as configurated ^^
Modpack:  Enigmatica 2: Expert
Config :  I:general.energyRateLimit=2147483647

Setup:
From Thermal, Cryo Stabilized Fluxduct, Energy Trash and Creative Powercell vom RFTools
Messure with Multimeter
Powercell -> Trash, 100.000 RF Transfer Rate

Powercell -> Energie Importer -> Energy Interface with Energy Battery -> Energy Exporter to F

[2018-03-08 07:22] rubensworks commented on #118
Yes there is.

[2018-03-11 09:11] #119 closed, assigned to nobody

[2018-03-12 07:44] #115 closed, assigned to nobody

[2018-03-12 07:44] #108 closed, assigned to nobody

[2018-03-12 23:31] Landstryder opened #120 "Crash when setting World Energy Exporter Entity Index"
#### Issue type:
- :bug: Bug

____
#### Short description:
Game crash and loss of the ability to log back in that world when you set the World Energy Exporter value "Entity Index" to -1

#### Expected behaviour:
Tool tip suggest that using a value of -1 will pick an entity randomly

#### Actual behaviour:
When setting it to -1 it crashes the game and then you can no longer log back into that world

[2018-03-12 23:33] rubensworks commented on #120
Fyi, you can set the mod to safe-mode via the config file to log back into your world and remove the crashing part.

[2018-03-15 15:19] Landstryder commented on #120
It turns out any attempt to use the World Energy Exporter has the same effect, regardless of the settings. As soon as you activate it by putting variable card in it.. CRASH!

[2018-03-18 04:10] #120 closed, assigned to nobody

[2018-03-18 23:38] nerfviking1 opened #121 "Issue with player simulator and choice (?) operator"
#### Issue type:

- :bug: Bug

____
#### Short description:

Player simulator isn't recognizing the change of a choice operator, and continues placing the item even after the operator is returning an empty item.

#### Expected behaviour:

Player simulator should recognized that choice operator now returns an empty item and stops placing it.

#### Actual behaviour:

Player simulator continues repea

[2018-03-18 23:45] freshstrangemusic opened #122 "Issues routing with priority"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug
____
#### Short description / Steps to reproduce:
I have an item network with the following:

- Chest (A) with an item exporter (priority 1) that has a variable card duped from the interface reader on the same chest (ie, if an item is in this chest another item of the same type should route here)
- Chest (B) with an it

[2018-03-19 01:00] rubensworks commented on #122
Could you first try updating to the latest version to see if the problem still exists there?

[2018-03-19 01:03] rubensworks commented on #121
Thanks for reporting!

[2018-03-19 04:19] freshstrangemusic commented on #122
I've upgraded to the following versions and the bug is still occurring:

Integrated Dynamics: 1.12.2-0.11.8
Integrated Tunnels: 1.12.2-1.5.4
CyclopsCore: 1.12.2-0.11.5
Forge: 1.4.23.2.2629

[2018-03-19 04:31] rubensworks commented on #122
Thanks for checking, I'll look into it soon.

[2018-03-22 08:31] rubensworks commented on #122
Did some testing with this, and I'm afraid this will be pretty difficult to solve. I will be unavailable for a couple of weeks, so I won't have time to fix this until I come back.

In the meantime, disabling the item cache (`inventoryUnchangedTickTimeout` to 0) might fix the problem, but might also increase server load slightly. (Please let me know if this actually fixes the problem for you)

Note

[2018-03-22 08:33] #121 closed, assigned to nobody

[2018-03-23 11:07] kevincook opened #123 "Cannot interact with Item importers/exporters"
#### Issue type:

- :bug: Bug

____
#### Short description:
After upgrading to 1.5.5 I can no longer interact with item importers and exporters.  When I right click the interface an exception is logged in the console.

#### Expected behaviour:

The gui for the importer exporter should show

#### Actual behaviour:

Nothing happens, and an exception is logged in the console.

#### Steps to reproduce

[2018-03-23 11:35] rubensworks commented on #123
What version did you upgrade from?

Could you share the _full_ forge log?

[2018-03-23 11:43] kevincook commented on #123
I'll work on the log and the versions I upgraded from, but wanted to give an update.

When I create a new world, things seem to work just fine, so it must have to do with the upgrade.

[2018-03-23 11:56] kevincook commented on #123
Also, removing CraftTweaker mod seems to have resolved the issue.  I'm happy to add CraftTweaker back and get the log for you if you want, otherwise, I'll just get rid of CraftTweaker and move on.

[2018-03-23 11:57] josephcsible commented on #123
Are you on an outdated version of CraftTweaker? Try updating it.

[2018-03-23 12:04] kevincook commented on #123
Sorry, I was wrong... it was Crafting Tweaks that I removed, not CraftTweaker.  And my Crafting Tweaks is out of date... I'll update Crafting Tweaks and see if it improves things.

[2018-03-23 13:10] kevincook commented on #123
Updating CraftingTweaks does not resolve the issue.  Removing Crafting Tweaks does resolve the issue.  I've attached the log where the latest version of crafting tweaks, integrated tunnels and cyclops core are installed and the problem is exhibited.

[2018-03-23-2.log.gz](https://github.com/CyclopsMC/IntegratedTunnels/files/1841569/2018-03-23-2.log.gz)

[2018-03-23 22:44] rubensworks commented on #123
I can't see anything going wrong in your client logs. Could you also share the server logs?

[2018-03-28 00:43] Revvilo opened #124 "Networks corrupting when chunk is reloaded"
#### Issue type:

- :bug: Bug

#### Short description:

- #### All of this info is what I can gather from experimenting. It is extremely hard to work out what is actually happening.
- Networks seem to corrupt when their chunk is reloaded.
- Only seems to happen with I. Tunnels parts and not I. Dynamics ones.

#### Expected behaviour:

- Networks continue functioning

#### Actual behaviour:

- Netw

[2018-03-28 03:38] rubensworks commented on #124
Could you try reproducing this with just ID+IT (and dependencies) installed?

[2018-03-28 06:01] Revvilo commented on #124
Still happens... and quite reliably too.
Plop one of those and an end portal down, hop back through, wait 30 seconds and return back.
Had it break 100% of the time.

- ID - 1.12.2-0.11.9
- IT - 1.12.2-1.5.5
- Cyclops Core - 1.12.2-0.11.5
- Forge - 14.23.2.2639

<img src="https://user-images.githubusercontent.com/13816212/38011394-c4c73838-32b9-11e8-931c-8d927ab210f1.png" height="400" />

[2018-03-28 22:38] rubensworks commented on #124
Ok, that's not good, will have to look into that.

[2018-03-28 23:38] rubensworks commented on #124
Tested this a bit with the time I had, and I wasn't able to reproduce this.

Note that I used Forge 14.23.1.2555 instead of 14.23.2.2639. If I find some more time (probably end of next week), I'll try it with that newer Forge version as well.

[2018-03-29 04:30] Revvilo commented on #124
My god, this turned into a wall of text. I hope at least a small part of it is helpful...

It isn't an issue with Forge from what I can tell because I used `14.23.1.2555 (your version)`, `14.23.2.2640` and `14.23.2.2611` with no noticeable change between them.

I discovered that you don't actually need any parts on the cable at all for it to corrupt, and also that I can simply teleport myself 5000

[2018-03-29 09:59] rubensworks commented on #124
Thanks for your testing effort ;) The ticking vs non-ticking parts do indeed sound like an important factor in the problem. I'll look into it soon.

Note to self: test with pure passive item interface networks.

[2018-03-29 20:31] Revvilo commented on #124
Oh, hey I just realised... this doesn't seem to be an issue with Tunnels at all, and rather a problem with Dynamics, as even a single cable left to unload gets corrupted. Does this mean that this issue needs to be moved or something?
I was originally was under the impression that it was the interfaces causing it... just didn't click that it was ticking vs non-ticking parts.
Note that I haven't act

[2018-03-29 21:48] rubensworks commented on #124
No, it's fine, this issue can stay here.

Note to self: test with just ID.

[2018-03-29 22:42] rubensworks commented on #124
Ok, just managed to reproduce and fix this issue.

Feel free to use/test the latest ID dev build (see readme) in the meantime.

[2018-03-29 22:43] #124 closed, assigned to nobody

[2018-03-30 22:05] Saklad5 commented on #116
I have the same problem. It outputs correctly when I replace the Player Simulator with an Item Exporter and the Grindstone with a vanilla chest, so I know it isn’t my logic or channels that’s faulty.

Items can also be placed on the grindstone using an Extra Utilities 2 Mechanical User, or placed in the world with the Player Simulator if the latter has a gap in front of it followed by another bloc

[2018-03-31 08:01] rubensworks commented on #116
@Saklad5 Is it possible that this Grindstone has a smaller bounding box? If so, you should try playing around with things like the x, y, z, yaw and pitch aspect settings.

[2018-03-31 13:09] Saklad5 commented on #116
That was my initial theory, but it doesn’t seem so. The bounding box of the grindstone is actually a full block, and the player seems to be able to interact with it regardless of angle.

[2018-03-31 14:28] Saklad5 commented on #116
I tried reading the source, but Astral Sorcery’s code is rather unintuitive. The Player Simulator can interact with other blocks from the mod, by the way: if you put a Spectral Relay (like a pedestal you click items onto) in front of it, it works properly.

I’m going to open an issue about this with Astral Sorcery. Even if none of this happened, it is still ridiculous that the Grindstone doesn’t e

[2018-04-04 04:25] bpwhelan opened #125 "Permanent Boolean aspect for Importers/exporters + List iteration?"
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request
- :question: Question

I think this would be a really nice feature to have, but it is understandable if it is hard to implement. It would be really nice if the boolean slot of an importer/exporter is always "unlocked." An easy example of this, "I want to export items from this list WHILE this in

[2018-04-04 04:33] bpwhelan commented on #125
Now that I think about it, there is a workaround, using an intermediate, limited-slot inventory to export items and then export all items on boolean from there....

[2018-04-04 11:18] josephcsible commented on #125
The right way to do this is to use the list slot and the "choice" operator. Create a list that equals if(your Boolean condition) then { your list of things to export } else { the empty list }.

[2018-04-05 02:27] bpwhelan commented on #125
Ahhh I see! There are so many operators I didn't see that one. Thanks a lot :D

[2018-04-05 02:31] bpwhelan commented on #125
Actually, one more question, is there a way to iterate through your list of items? Say the boolean condition is met, and I want to export a stack of each item in the list to theoretically fulfill the boolean condition.

[2018-04-05 03:21] josephcsible commented on #125
Do you mean that you want to export one stack of each item?

[2018-04-05 03:32] bpwhelan commented on #125
Yeah, I think i know of a way to do it in a limited inventory space (i.e. storage drawer) with export item slot with an increment. But not sure how you would do it in an inventory that has other items as well.

[2018-04-05 04:43] josephcsible commented on #125
Filter your list to only include items that aren't in the destination inventory.

[2018-04-06 05:50] rubensworks commented on #123
@kevincook Any progress on the server logs? Closing this otherwise.

[2018-04-08 03:59] Parker8283 opened #126 "Item Exporters set to exact amount hang if first ItemStack is below transfer threshold"
#### Issue type:
_Only keep the issue types that are applicable._
- :bug: Bug
____
#### Short description:
When setting an Item Exporter to use "Exact Amount" for transferring, and setting the amount to some threshold, ItemStacks closer to the front of the inventory that are below the threshold block ItemStacks farther down in the inventory from being transferred, even if their size is above the t

[2018-04-08 05:49] rubensworks commented on #126
Thanks for the detailed report, will look into it!

[2018-04-08 05:49] #125 closed, assigned to nobody

[2018-04-11 00:38] Parker8283 commented on #126
Not sure if you had a chance to look at this yet, but I poked around for a little bit, and this is what I found.

[This is where it short-circuits](https://github.com/CyclopsMC/IntegratedTunnels/blob/master-1.12/src/main/java/org/cyclops/integratedtunnels/core/TunnelItemHelpers.java#L144-L147). Because it failed to move the ItemStack in the first slot, it's just returning out of the function, whic

[2018-04-11 06:39] rubensworks commented on #126
Sorry, haven't had time yet to look into this. Hopefully next week (pretty busy with RL stuff atm...).

That indeed looks like the place where it goes wrong. I'm afraid that I might have to make some non-insignicant changes to fix this, so it'll indeed be better if I fix it myself. Thanks for checking it in any case!

[2018-04-11 13:04] Parker8283 commented on #126
No rush! Not trying to push you or anything. Just figured if you were busy I'd try to fix it myself so you didn't have to worry about it. But after looking at it, it looks like I threw myself into the deep end. :P

[2018-04-16 06:59] rubensworks commented on #116
Apparently AS intentionally blocks automation, so there's not much I can do from my end.

[2018-04-16 06:59] #116 closed, assigned to nobody

[2018-04-16 21:29] Saklad5 commented on #116
I don’t think it is intentional, as other blocks from that mod work fine. In light of that, however, I agree that this issue is not going to be solved by changing this mod.

[2018-04-16 21:46] josephcsible commented on #116
It is intentional. Read the comment by @HellFirePVP on the linked bug.

[2018-04-16 21:49] Saklad5 commented on #116
I just saw it, yeah.

[2018-04-18 16:34] kevincook commented on #123
I'm sorry @rubensworks I got sidetracked and never made it back to this.  I'm afraid I've lost the instance.  If I run until this again, I'll update you.

[2018-04-29 20:21] banggugyangu opened #127 "Seemingly Random Ceasing of Function"
#### Issue type:  Bug

#### Short description:

At seemingly random intervals, transfer of items and/or energy will stop.  Connected machines will run out of buffer power and shut down.  To return to normal operation, a cable must be broken and replaced.

#### Expected behaviour:

Transfer of energy and items continue consistently

#### Actual behaviour:

Items and energy stop transferring randoml

[2018-04-30 06:06] rubensworks commented on #127
Could you first try updating to the latest version to see if the problem still occurs for you?

As this in your case includes energy transfer, this has nothing to do with #115, which was only about item transfer.

[2018-05-06 09:42] rubensworks commented on #127
@banggugyangu Any update on this? Closing otherwise.

[2018-05-14 07:00] #127 closed, assigned to nobody

[2018-07-15 12:04] #123 closed, assigned to nobody

[2018-07-17 01:01] TheDeviantCrafter opened #128 "Support for Mekanism gas"
#### Issue type:

- :heavy_plus_sign: Feature request

____

#### Short description:

Mekanism adds gases which behave similar to fluids but are incompatible with the fluid registry. These require Mekanism's own pipes to be transfered. Unfortunately, Mekanism's pipes are a bit of an unoptimized mess. I'd like Integrated Tunnels to transfer gases.

[2018-07-17 06:10] rubensworks commented on #128
Would be interesting to have.

Related to https://github.com/CyclopsMC/IntegratedDynamics/issues/440

[2018-07-18 21:49] maham opened #129 "World Fluid Exporter and General Choice Operator issues"
#### Issue type:

- :bug: Bug

____

#### Short description:

The WFE will not place liquid starlight when it's given from a choice operator.

#### Steps to reproduce the problem:

(I'm referencing variables with line numbers (n) below to shorten it. Hopefully it's readable)

1. Set up a block reader and create a variable from the read block.
2. Create an air block variable
3. Create an equals ope

[2018-07-19 05:27] rubensworks commented on #129
I'll have a look at it, thanks for reporting.

[2018-07-31 17:38] ThatGuy435 opened #130 "Fluid Exporter Doesn't Respect 'Export Item(s)' Aspect Filters"
#### Issue type:

- :bug: Bug

____

#### Short description:

When more than one fluid is on the network, fluid exporters with variables set in the Export Fluid or Export Fluids do not seem to respect the filter, simply exporting the highest priority Fluid Interface.

#### Steps to reproduce the problem:
Using Integrated Dynamics, Integrated Tunnels, and Immersive Engineering:

1. Put inventories

[2018-07-31 18:43] ThatGuy435 commented on #130
I also just tested blacklisting (water, in this case) - it doesn't seem to work properly either.

[2018-08-17 16:33] rubensworks commented on #130
FYI, this requires some low-level changes in IT. This will be fixed in the next major release, which will consist of a partial rewrite.

[2018-08-17 16:35] rubensworks commented on #122
FYI, this requires some low-level changes in IT. This will be fixed in the next major release, which will consist of a partial rewrite.

[2018-08-17 16:37] rubensworks commented on #126
FYI, this requires some low-level changes in IT. This will be fixed in the next major release, which will consist of a partial rewrite.

[2018-09-08 23:19] Suiadan opened #131 "Looking at a display panel crashes the game"
#### Issue type:

- :bug: Bug

____

#### Short description:

When I look at a display panel, the entire screen goes sky blue for a while and then the game crashes. Disabling IntegratedTunnels prevents the crash.

If a world causes the crash, then loading the world again seems to crash again as well, also with the same stack trace.

Same as
https://github.com/CyclopsMC/IntegratedDynamics/issues/62

[2018-09-09 06:46] rubensworks commented on #131
No need to report duplicates, thanks in any case.

[2018-09-09 06:46] #131 closed, assigned to nobody

[2018-09-14 04:07] Nonsanity opened #132 "Extract Items by Slot Number from Input-Only slots"
#### Issue type:

- :heavy_plus_sign: Feature request

____

#### Short description:

Some machines have slots dedicated to input items that regular pipes and hoppers don’t pull from. This makes basic automation simple as, most of the time, the player only wants to pull items from the output slots. But with more nuanced automation courtesy of ID and IT, not being restricted by slot I/O settings ma

[2018-09-14 05:51] rubensworks commented on #132
Ignoring I/O restrictions that are put in place by mods doesn't sound like a good idea to me. So I'd prefer not to implement it. (Note that implementing this would require major hacks, so this would likely break many mods)

Wouldn't limiting what goes into the system externally not work in your case?

[2018-09-14 05:51] #132 closed, assigned to nobody

[2018-09-14 20:33] Nonsanity commented on #132
For my particular example, the breeding pair of chickens in the Roost mod stay in the input slots and continue to breed. There’s no automated way to remove or replace them. Normally, inputs use themselves up (like ores in a furnace or bees from Forestry) but some machines have upgrade slots or other slots that, in the normal course of things, are only filled or emptied by the player from the GUI.

[2018-09-15 06:26] rubensworks commented on #132
I'd suggest you contact the mod author of this Roost mod, and ask if support can be added for automating the input slots. This would be the best solution in any case.

[2018-09-21 15:26] pap1723 opened #133 "Custom Mining Level World Importer Issues"
#### Issue type:

- :bug: Bug

Using custom mining levels, the World Item Importer cannot mine blocks above a certain level.

#### Short description:

#### Steps to reproduce the problem:

1. In Enigmatica 2 Expert, the Livingrock block is set to a mining level of Pickaxe=4. The World Item Importer cannot break the block.

#### Expected behaviour:

The block should be able to be broken.

#### Vers

[2018-09-21 15:37] pap1723 opened #134 "World Importer Using Variable Cards from Single Source Cannot All Work At Same Time"
#### Issue type:

- :bug: Bug

____

#### Short description:

I created a setup to automate Livingwood mining for Botania. So I setup 8 World Importers around a Pur Daisy set to import the block when it == Livingwood. Only 5-6 of the World Importers work at the same time.

#### Steps to reproduce the problem:

1. Create a setup of 1 Pure Daisy surrounded by 8 x World Importers
2. Use a single Bloc

[2018-09-22 07:11] rubensworks commented on #134
Did you already try with any other block? Might be an issue with livingrock.

[2018-09-22 07:11] rubensworks commented on #133
Did you already try with any other block? Might be an issue with livingrock.

[2018-09-22 12:19] pap1723 commented on #133
Yes, it was tried with other blocks as well.

On Sat, Sep 22, 2018, 2:11 AM Ruben Taelman <notifications@github.com>
wrote:

[2018-09-22 12:20] rubensworks commented on #133
So what was the verdict, with which blocks did it work, and which didn't?

[2018-09-22 12:21] pap1723 commented on #133
It didn't work with any blocks that were set above a 3 mining level

On Sat, Sep 22, 2018, 7:20 AM Ruben Taelman <notifications@github.com>
wrote:

[2018-09-22 12:24] rubensworks commented on #133
Can you give me a name of any such block? Because I don't know the pack myself, let alone how it is configured.

[2018-09-24 10:22] tivec commented on #134
I am having this exact issue. I created an Item(Livingwood) card in the Portable Logic Programmer, then I used that card to create 7 copies via a crafting table. I then put these in the World Block Importers. Here is the set up:

![image](https://user-images.githubusercontent.com/717574/45947308-02850e80-bff4-11e8-9a8e-b3a403220709.png)

I have World Block Exporters below the blocks, and World Blo

[2018-09-24 10:27] rubensworks commented on #134
@tivec What happens if you try importing any other block? Does it also only import 5 of them?

[2018-09-24 10:28] tivec commented on #134
@rubensworks I built a system exporting logs every 60 ticks, and trying to import every tick. With the style of the above build, that worked just fine without hanging or causing any issues.

However, I have made an interesting discovery. If I move the importers to the outside of the three that fails to import in my setup above, it works flawlessly (see image below).

![image](https://user-images.g

[2018-09-29 01:49] ItsTheKais opened #135 "Exporter malfunctions when I leave the area, with "just lost stack" logspam"
#### Issue type:

- :bug: Bug

____

#### Short description:

Local/single-player world.

A screenshot of the network in question:

![2018-09-28_18 21 09](https://user-images.githubusercontent.com/9879642/46239394-5590f580-c355-11e8-94e1-e20ec1684ffb.png)

The yellow/blue lines in the back are a chunk boundary; the network and the inventories it is attached to span two chunks, both of which are ch

[2018-09-29 06:28] rubensworks commented on #135
Thanks for reporting!

I'm currently rewriting major parts of IT, so it is possible that this issue will be fixed after the update, so I'm putting this on hold. Should the issue still persist after updating to the new version (no ETA yet), be sure to ping me here again.

[2018-10-03 09:31] PF1MIL opened #136 "Dropped Item Player Simulation"
#### Issue type:

- :heavy_plus_sign: Feature request

____

#### Short description:

Allow Player Simulators or World Item Exporters to emulate a _player_ dropping an item.
(Reasoning and mockup in picture below)

![thrower feature request](https://user-images.githubusercontent.com/25188462/46402197-b5283180-c6c4-11e8-8bf3-001ff2f809e7.png)

[2018-10-03 09:34] rubensworks commented on #136
The problem is that players are not identified by player name, but by an internal UUID. So it should be possible to do something with that. But I'd have to look into how to do it exactly, not sure that it will be that trivial to implement.

[2018-10-08 00:12] tksonix opened #137 "Energy exporter doesn't work properly."
#### Issue type:

- :bug: Bug

____

#### Short description:

The energy doesn't export energy from interface at all.

#### Steps to reproduce the problem:

1. Connect Energy Exporter to an empty energy cell(used rftools energy cell)
2. Connect Energy Interface to an full energy cell
3. Connect Energy Exporter and Interface with cables
4. Insert a TRUE variable card into energy exporter(which show

[2018-10-08 14:26] rubensworks commented on #137
That should work though. Have you tried any other energy source, like ID's energy battery? I haven't used the rftools energy cell before, but perhaps you should configure its output sides?

[2018-10-09 22:05] tksonix commented on #137
Yeah, I have tried Thermal Expansion's energy cell as well, and I confirm that I've set the sides of the empty cell to input correctly.
For ID's energy battery, it behaves a bit strange though. It directly connect to the cable and receive energy from the interface, without using any exporters; but if I connect it with an exporter, it doesn't get any energy either.

[2018-10-09 23:35] rubensworks commented on #137
@luyiming7 That's weird. Can you reproduce it with just ID installed?

[2018-10-24 15:13] rubensworks commented on #134
For reference, video of the issue: https://youtu.be/BNUQ5WeGcX4

<blockquote><img src="https://i.ytimg.com/vi/BNUQ5WeGcX4/maxresdefault.jpg" width="48" align="right"><div><img src="/yts/img/favicon_144-vfliLAfaB.png" height="14"> YouTube</div><div><strong><a href="https://www.youtube.com/watch?v=BNUQ5WeGcX4">Integrated Dynamics Bug?</a></strong></div><div>Possible bug with world importers</div></b

[2018-10-24 18:34] Rosethorns opened #138 "Integrated Dynamics x Nuclearcraft interaction bug."
#### Issue type:

- :bug: Bug

____

#### Short description:

Video walk-through of the bug: []https://www.youtube.com/watch?v=BNUQ5WeGcX4

World Importers will not pull depleted thorium if 2 or more thorium exists on the same network also on world Importers. Seems to affect East and North first.

#### Steps to reproduce the problem:

1. create **3** or more world importers on the same network
2.

[2018-10-24 21:24] rubensworks commented on #138
Thanks for reporting!

This sounds similar to #134, will look into it asap.

[2018-11-02 11:27] rubensworks commented on #137
I can't reproduce this myself, please provide more information. A screenshot/video of your setup with a minimal modset would be great.

[2018-11-02 11:38] rubensworks commented on #133
So IT does not check harvest levels at all, so the world importer is able to break blocks from any harvest level.

So I assume that your pack contains a mod that listens to the `BlockEvent.HarvestDropsEvent` event (which the world importer _does_ check), and for some reason blocks the fake player from IT.
Unfortunately, there's not much I can do about that from my end. I would suggest that you pin

[2018-11-02 11:47] rubensworks commented on #134
Ok, I'm not able to reproduce this myself.
However, I have a strong suspicion as to what may be causing it.
I won't try to explain it here (something with caching), but I'm rewriting significant parts of IT, which will very likely solve this bug as a consequence.
So I'm putting this issue on hold until this rewrite is done.

[2018-11-02 11:47] rubensworks commented on #138
Ok, I'm not able to reproduce this myself.
However, I have a strong suspicion as to what may be causing it.
I won't try to explain it here (something with caching), but I'm rewriting significant parts of IT, which will very likely solve this bug as a consequence.
So I'm putting this issue on hold until this rewrite is done.

[2018-11-08 00:08] Targren opened #139 "Game Crash: Operator ValueTypeOperator$ValueOperator cannot be cast to ValueTypeBoolean$ValueBoolean"
#### Issue type:

- :bug: Bug

____

#### Short description:

Similar to #99 but still exists in 1.12.2-1.5.6.

Presumably invalid logic assembly causes game to crash (see details below)

#### Steps to reproduce the problem:

1. Created variable structure ("Label":<desc> for readability)

* "FilterA":  Inventory ReaderA.Items (List<Items>)
* "FilterB":  Inventory ReaderB.Items (List<Items>)
* "Fil

[2018-11-08 07:02] rubensworks commented on #139
Hmm, thanks for reporting.

It looks like operators are even harder to implement than they are to use.

[2018-11-10 12:42] rubensworks commented on #134
For anyone experiencing this issue, doing the following _may_ solve your problem (until I fix the bug).

You may be able to solve the problem by using another aspect. For example, if you'd use the boolean aspect in the block world importer instead of a block-variable importer, then this could fix it.

[2018-11-12 20:02] Targren commented on #139
Does this mean you can see where I screwed up my thinking? I'd love if you'd point it out. I haven't done much FP since college which was... quite some time ago.

[2018-11-13 07:12] rubensworks commented on #139
No :-) (not as far as I can see in any case though)
What I meant is that the code that I wrote for implementing the operator system is quite complex, and it's the main source of bugs of this mod.

[2018-11-16 12:12] #137 closed, assigned to nobody

[2018-11-27 06:23] GreyMario opened #140 "Storage Drawers with "Creative Vending Upgrade" report drawer contents to Item Interfaces, but cannot be extracted from"
#### Issue type:

- :bug: Bug

____

#### Short description:

An inconsistency between what an Item Interface reports to the network and what can actually be exported from the attached inventory. Specifically, with a Storage Drawers drawer that has been upgraded with a "Creative Vending Upgrade".

Item Interfaces will report to Extractors that there is MAXINT of every item in the creative drawer t

[2018-11-27 07:13] rubensworks commented on #140
Can you report back here if you have updates. Will put this issue on hold until then.

[2018-11-27 16:44] GreyMario commented on #140
I checked in on the Storage Drawers github and found [a wide open issue](https://github.com/jaquadro/StorageDrawers/issues/583#issue-266235824) on this very subject that's existed since October 2017.

...With no developer commentary. Just a pile of users complaining that they can't use creative drawers as an endless supply of items in pipes.

Okay, I lied. There's one developer comment. Asking wha

[2018-11-27 16:47] rubensworks commented on #140
I see, thanks for linking the issue!

[2018-11-30 01:00] GreyMario commented on #140
An update was made to Storage Drawers which claims to resolve this issue.

If it does, then the only remaining issue on this front is that Item Exporters can report that they have available inventory attached to Interfaces when they are incapable of actually exporting from those Interfaces.

[2018-11-30 07:26] rubensworks commented on #140
I'm not sure what you mean by this though. What do you mean with this 'reporting'?

[2018-12-01 00:39] GreyMario commented on #140
Build a network which exposes the issue in an affected Storage Drawers version, then use The One Probe to inspect the Item Exporter's "inventory". The tooltip indicates that the "inventory" of the Item Exporter "contains" the item in the creative vending Storage Drawer, but no item can actually be exported.

[Album of screenshots, because pictures, words, et cetera.](https://imgur.com/a/9mUcYDA)

[2018-12-01 06:12] rubensworks commented on #140
I don't see how this is an issue in IT though. I thought this (the non-extraction issue) was fixed in Storage Drawers?

[2018-12-11 16:22] ct-klein commented on #126
Hello, I just encountered the same issue and was wondering if there was any update on correcting this?  Working with the GTCE (GregTech Community Edition) and this would solve a HUGE functionality issue that I cannot get around with their tools as far as ore processing is concerned.  Thanks!

[2018-12-12 06:56] rubensworks commented on #126
No updates yet, I'm still working on the rewrite.

[2019-01-09 18:55] #134 closed, assigned to nobody

[2019-01-09 18:55] #138 closed, assigned to nobody

[2019-01-18 20:20] ItsTheKais opened #142 "Crash loading existing save with new update"
#### Issue type:

- :bug: Bug

____

#### Short description:

This occurred after updating the entire Integrated suite and then loading a save that had last been used with the immediately previous versions.

The save in question is my superflat creative test world, which as you would expect is absolutely plastered with all sorts of small builds, most of which I have little memory of, and I have no

[2019-01-18 20:23] rubensworks commented on #142
Thanks for reporting, I'll look into it as soon as possible!

[2019-01-19 07:19] GreyMario opened #143 "World Item Importer "Import All Items From Entities" aspect crashes IndexOutOfBounds when targeting entity "-1" to select random target"
#### Issue type:

- :bug: Bug

____

#### Short description:

The `Import All Items From Entities` aspect throws `IndexOutOfBoundsException` when the target entity is set to `-1` (as suggested for targeting a random entity from the targeted block space)

#### Steps to reproduce the problem:

1. Using a World Item Importer, try to import any item from a random entity in the targeted block space.
2.

[2019-01-19 07:31] GreyMario commented on #142
Culprit confirmed to be _any_ predicate used for importing or exporting. Even a simple `Item Stackable` predicate will cause this crash.

Versions:
- Minecraft: `1.12.2`
- Forge: `14.23.5.2768`
- InDynamics: `1.0.0`
- InTunnels: `1.6.0`
- InCrafting: `1.0.0`
- InTerminals: `1.0.0`
- CyclopsCore: `1.0.0`
- CommonCapabilities: `2.0.0`

Stack trace:
[code]

[2019-01-19 07:33] rubensworks commented on #143
Thanks for reporting, this should be easy to fix.

[2019-01-19 07:33] rubensworks commented on #142
Thanks for the additional information @GreyMario!.

[2019-01-20 12:17] #142 closed, assigned to nobody

[2019-01-20 12:17] #143 closed, assigned to nobody

[2019-01-20 15:13] rubensworks opened #144 "Check target existence in exporters"
#### Issue type:

- :heavy_plus_sign: Feature request

____

#### Short description:

We should add an aspect option for exporters to _not_ work if the given ingredient already exists in the target.

[2019-01-21 06:02] ItsTheKais opened #145 "Fluid Importers/Exporters not respecting Exact Amount"
#### Issue type:
* :bug: Bug
____
#### Short description:
Fluid Importers and Exporters are ignoring the Exact Amount setting and blindly moving fluids regardless of the amounts available to be moved, resulting in clogged casting basins.

#### Steps to reproduce the problem:
1. Set up a network consisting either of a Fluid Interface on a source tank and a Fluid Exporter on a destination tank, or a

[2019-01-21 07:10] rubensworks commented on #145
Hmm, I did test this extensively quite recently though... This must be a recent regression then.

[2019-01-21 16:50] rubensworks commented on #122
Last week, I released a new version of Integrated Tunnels (1.6.0) that consists of a big rewrite in how things are transferred. This issue is likely to be resolved with this rewrite. I'm auto-closing this issue if no new reports for this come up in the next coming weeks.

[2019-01-21 16:50] rubensworks commented on #130
Last week, I released a new version of Integrated Tunnels (1.6.0) that consists of a big rewrite in how things are transferred. This issue is likely to be resolved with this rewrite. I'm auto-closing this issue if no new reports for this come up in the next coming weeks.

[2019-01-21 16:51] rubensworks commented on #126
Last week, I released a new version of Integrated Tunnels (1.6.0) that consists of a big rewrite in how things are transferred. This issue is likely to be resolved with this rewrite. I'm auto-closing this issue if no new reports for this come up in the next coming weeks.

Side-note: there is currently a new issue with exact amount (#145) that will be fixed soon.

[2019-01-21 16:52] rubensworks commented on #135
Last week, I released a new version of Integrated Tunnels (1.6.0) that consists of a big rewrite in how things are transferred. This issue is likely to be resolved with this rewrite. I'm auto-closing this issue if no new reports for this come up in the next coming weeks.

[2019-01-21 16:56] rubensworks commented on #140
I see that https://github.com/jaquadro/StorageDrawers/issues/583 has been closed. @GreyMario could you confirm that this works properly for you now?

[2019-01-21 17:12] rubensworks commented on #133
Last week, I released a new version of Integrated Tunnels (1.6.0) that consists of a big rewrite in how things are transferred. This issue is likely to be resolved with this rewrite. I'm auto-closing this issue if no new reports for this come up in the next coming weeks.

[2019-01-22 04:21] GreyMario commented on #140
I did a dumb and tried to test this without updating Storage Drawers.

After doing the smart and updating, can confirm that [creative vend drawers work](https://puu.sh/CAqiy.png).

[2019-01-22 06:35] rubensworks commented on #140
Great, thanks for checking!

[2019-01-22 06:35] #140 closed, assigned to nobody

[2019-01-22 14:38] rubensworks commented on #139
Same problem as https://github.com/CyclopsMC/IntegratedDynamics/issues/644 (which has been fixed now), expect a new ID release soon.

[2019-01-22 14:38] #139 closed, assigned to nobody

[2019-01-25 03:50] xoxfaby commented on #145
@rubensworks in a previous version I noticed that, basically, the predicate logic only considered the transfer rate and not the amount in the tank, I wonder if this issue might stem from the same the same root cause?

[2019-01-25 07:25] rubensworks commented on #145
@xoxfaby Probably not, as all of this has been rewritten quite extensively in the latest update. I suspect it's something small though.

[2019-01-27 13:08] tinyrobot opened #146 "Fluid importer/exporter not respecting fluid type"
#### Issue type:

- :bug: Bug

____

#### Short description:

When using a fluid importer/exporter with a variable card containing a Fluid in 'Pick up/place Fluid' - the importer will not import the fluid and the exporter will not export the fluid. Setting 'import/export all fluids' respectively will import/export the fluid in front.

#### Steps to reproduce the problem:
Importer:
1. Place a fluid

[2019-01-27 13:12] rubensworks commented on #146
Thanks for reporting, I'll look into it as soon as possible!

[2019-01-27 14:39] rubensworks commented on #129
Fluid transfer has been significantly been rewritten since version 1.6.0.
Could you check if this issue still occurs for you?

[2019-01-27 14:40] #145 closed, assigned to nobody

[2019-01-27 14:40] #146 closed, assigned to nobody

[2019-01-28 20:11] tinyrobot opened #147 "Allow configuration to separately disable sounds and particle effects"
#### Issue type:

- :heavy_plus_sign: Feature request

____

#### Short description:

Currently there is an option to disable sound effects and particles in the configuration (worldInteractionEvents) - it would be nice to be able to disable sound effects (eg. pressure plate sound) while keeping particle effects enabled.

[2019-01-30 18:31] #122 closed, assigned to nobody

[2019-01-30 18:31] #130 closed, assigned to nobody

[2019-01-30 18:32] #126 closed, assigned to nobody

[2019-01-30 18:32] #135 closed, assigned to nobody

[2019-01-30 18:32] #133 closed, assigned to nobody

[2019-01-31 03:39] xoxfaby opened #148 "Server crash and network broken after placing Energy Interface"
#### Issue type:

- :bug: Bug

____

#### Short description:

After placing an Energy Interface next to a DE Infuser ( not sure if related ), the server hard crashed and the network got completely screwed up. After restarting the server the network wasn't work, aiming at energy interfaces to show the energy in Waila spams errors in the server log like crazy, some stuff is being transferred, other

[2019-02-01 08:55] maham commented on #129
Tested and working. Well done!

[2019-02-01 08:56] rubensworks commented on #129
Great, thanks for checking!

[2019-02-01 08:56] #129 closed, assigned to nobody

[2019-02-03 13:22] rubensworks commented on #148
This seems to be the same problem as CyclopsMC/IntegratedDynamics#680, will push a fix.

[2019-02-03 13:25] rubensworks commented on #148
@xoxfaby Could you try the latest ID dev build (1269) to see if this fixes your problem?

You may need to reset your network by breaking/replacing a cable because of the earlier crash.

[2019-02-03 15:45] xoxfaby commented on #148
https://gist.github.com/65c5043928daccfdbf0e349bce61d492

<blockquote><img src="https://avatars0.githubusercontent.com/u/998173?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> Gist</div><div><strong><a href="https://gist.github.com/xoxfaby/65c5043928daccfdbf0e349bce61d492">cs6p.txt</a></strong></div><div>GitHub Gist: instantly share code

[2019-02-03 15:49] xoxfaby commented on #148
https://gist.github.com/xoxfaby/b2e250cb12ff0d41ad87adae3830e00f

<blockquote><img src="https://avatars0.githubusercontent.com/u/998173?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> Gist</div><div><strong><a href="https://gist.github.com/xoxfaby/b2e250cb12ff0d41ad87adae3830e00f">HBak.txt</a></strong></div><div>GitHub Gist: instantly sh

[2019-02-04 07:31] rubensworks commented on #148
@xoxfaby So was this before, after or during your network reset?

[2019-02-04 11:45] xoxfaby commented on #148
During. And after.

On Mon, Feb 4, 2019, 08:31 Ruben Taelman <notifications@github.com wrote:

[2019-02-04 16:13] rubensworks commented on #148
Ah, interesting. This is in fact a totally different problem, but also related to chunk loading.

Pushed a new ID build (1271) that should fix the error.

Could you let me know how that work for you @xoxfaby?

[2019-02-04 16:31] xoxfaby commented on #148
Looks like your fix worked! If something does pop up I will update, but as soon as I placed a new cable, everything sprung back into action.

[2019-02-04 16:31] #148 closed, assigned to nobody

[2019-02-04 16:33] rubensworks commented on #148
Great! Thanks for testing. I'll include these fixes in the next release.

[2019-02-05 18:37] xoxfaby opened #149 ""Exact Amount" ignores target inventory."
#### Issue type:

- :bug: Bug

____

#### Short description:

If you set the item transfer rate to "Exact Amount", it will move items even if the target inventory can't take the actual amount.

#### Steps to reproduce the problem:

1. Set Exact Amount
1. Have source inventory with amount available and target inventory with less space than the amount, it will move the partial amount to fill the inv

[2019-02-05 18:46] xoxfaby opened #150 "Fluid Import/Export will ignore other fluids if another fluid was potentially valid to be moved."
#### Issue type:

- :bug: Bug

____

#### Short description:

When moving fluid to a block with multiple tanks that take different fluids, fluid importers/exporters will only try to transfer one fluid, even if the first tank is full. If they have both fluids as valid fluids to be moved they will ignore the 2nd fluid. Targeting the 2nd fluid specifically works. Presumably the first fluid being foun

[2019-02-06 07:29] rubensworks commented on #149
Note to self: add an additional check post-simulated-transfer.

[2019-02-06 15:12] NolanSyKinsley opened #151 "Progression needs a rehaul. Gating behind ender dragon is bleh"
This is just a gripe about the progression in this mod, and the fact that the world importer/exporters  are gated behind the ender dragon kill. Just... Seriously? The ender dragon is late game in most mod packs, and can be extremely hard to get to in others. People will have their bases 90% built and their engines churning well before ever killing the ender dragon, so when they unlock the devices

[2019-02-06 16:12] rubensworks commented on #151
Perhaps something for 1.13, I don't want to break existing autocrafting setups.

In any case, feel free to change the recipes in your own world as you see fit.

[2019-02-06 19:46] xoxfaby commented on #151
If mod packs mess with progression and gating, they should change the recipes to accomodate for that.

[2019-02-06 21:52] Targren opened #153 "Fluid Exporters not obeying "exact amount = false", but only sometimes. (Mod Interaction?)"
#### Issue type:

- :bug: Bug  (minor)

____

#### Short description:

With certain containers (In this case, Astral Sorcery Lightwells), fluid exporters don't move fluids until the container has more than the "Fluid Transfer Rate" worth of fluid.

#### Steps to reproduce the problem:

1. Place a fluid interface (default settings) on the bottom of a Lightwell
2. Place a fluid exporter (default set

[2019-02-07 00:10] antrobot1234 commented on #3
why is this still open? this is basically integratedCraafting

[2019-02-07 00:13] antrobot1234 opened #152 "interface filtering"
#### Issue type:

- :heavy_plus_sign: Feature request

____

#### Short description:

basically, interfaces should have inbound and outbound rules similar to exporters and importers, but on a passive basis. instead of actively pushing and pulling these filters, they will simply designate what is to be imported and exported from the interfaced machine/storage. for example, you could make a stacksiz

[2019-02-07 07:27] rubensworks commented on #153
@Targren What happens if you just any other kind of tank instead of the Lightwell? It may indeed be just a property of that block. Can you export with smaller rates using other types fluid transfer pipes?

[2019-02-07 07:29] rubensworks commented on #3
Ah indeed, this can be closed.

https://minecraft.curseforge.com/projects/integrated-terminals

<blockquote><img src="https://media.forgecdn.net/avatars/thumbnails/165/801/120/120/636694374476455275.png" width="48" align="right"><div>Minecraft CurseForge</div><div><strong><a href="https://minecraft.curseforge.com/projects/integrated-terminals">Integrated Terminals</a></strong></div><div>Terminals

[2019-02-07 07:29] #3 closed, assigned to nobody

[2019-02-07 07:30] rubensworks commented on #152
This can be achieved with this feature request: #98.

[2019-02-07 07:30] #152 closed, assigned to nobody

[2019-02-07 14:26] Targren commented on #153
It looks like it is the lightwell. Going from a Seared Gauge->Portable tank with the same settings and 288mb of fluid worked as expected.

[2019-02-07 14:30] rubensworks commented on #153
Ok, thanks for checking @Targren! Could you report this to the Astral Sorcery issue tracker then? (it may very well be intended functionality though) (be sure to link back to this issue here)

[2019-02-07 15:05] Targren commented on #153
Sure thing.

Oh, it might also be worth noting, just for the record, that it also seems to push the contents of the lightwell through the exporter when the stone in the Lightwell breaks, too.

[2019-02-08 15:33] NolanSyKinsley commented on #151
Then this mod should base itself as a standalone and understand that there is very little to no content post ender dragon, because it does not add any, so gating it's content past the literal end of the game makes zero sense. Post wither items are supposed to be OP, post ender dragon items are supposed to be game breakingly OP, these level 2 items aren't even post wither content, they should be po

[2019-02-08 16:11] xoxfaby commented on #151
I don't know which mod packs you are talking about that make the ender dragon more difficult to fight. Generally with modded weapons and tools and armor it becomes much easier to fight the dragon earlier, making the ender dragon much less of a gate than it is in vanilla. I reiterate, if some niche modpack does make the ender dragon hard to beat, the author can change the recipe.

[2019-02-08 17:11] NolanSyKinsley commented on #151
As I said, you should consider this mod a standalone, the ender dragon is literally end game, you beat the dragon, go to the end cities, where the only source of chorus fruit is, and then when you come back it is literally roll credits, game over. With this mod and vanilla, there is literally nothing past the end cities, that is the end of progression, the end of content. People's bases have been

[2019-02-08 20:53] #149 closed, assigned to nobody

[2019-02-08 20:54] rubensworks commented on #149
Oof, this one took quite a bit of work to figure out all edge-cases when testing.

[2019-02-08 21:10] xoxfaby commented on #151
Unlimited, cross dimensional power, fluid and item transfer is about as OP as it gets when it comes to piping mods. And I don't think some weird scenario where someone is only using ID/IT and nothing else is a good argument. ID/IT shines in big mod pack as a supportive mods to automate them.

requiring only getting to the nether is way too cheap.

[2019-02-08 21:11] xoxfaby commented on #151
And I completely disagree with the premise that killing the ender dragon is "end of game, roll credits", especially when it comes to modded minecraft.

[2019-02-08 21:12] rubensworks commented on #151
It's interesting to hear both sides of the argument here. I'll definitely take both into account when updating to 1.13/1.14.

[2019-02-10 03:38] GreyMario commented on #153
I actually want to say I've seen this off-beat behavior in a couple of other blocks here and there, but I can't remember what it was. Cyclic's Magma Anvil, perhaps? I'll keep an eye out and see if we can piece together a common cause.

[2019-02-11 20:38] tinyrobot opened #154 "Default 'empty is wildcard' to false"
#### Issue type:

- :heavy_plus_sign: Feature request

____

#### Short description:

When using importers/exporters that support 'empty is wildcard' this would seem to make more sense to default to 'false'.

For example:
- I have lava and another liquid on the same network
- I place an interface to export liquid to the world
- I use a choice operator, where the 'false' condition is an 'empty' flu

[2019-02-12 07:31] rubensworks commented on #154
I went back and forth a lot on this already. But you make a good point. I'll see to changing this in 1.13/1.14 (I don't want to be breaking existing setups)

[2019-02-13 21:08] tinyrobot opened #155 "World fluid exporter voids fluids if production rate is < 100mb"
#### Issue type:

- :bug: Bug

____

#### Short description:

When a fluid source produces fluid in increments of < 100mb, and a world fluid placer places the fluid, no fluid is placed in the world but the fluid is 'consumed' (voided) anyway.

#### Steps to reproduce the problem:

1. Given a fluid source (eg. the sink from cooking for blockheads)
2. Attach a fluid importer and put an integer varia

[2019-02-17 14:27] #155 closed, assigned to nobody

[2019-02-18 02:11] FallenEagle1 opened #156 "Unexpected Energy Transfer"
#### Issue type:

- :bug: Bug

____

#### Short description:

When looking further into #148 and CyclopsMC/IntegratedDynamics#696, I came across some interesting interactions, and curious if this may relate to those at all. Basically, energy transfer dealing with omni-directional connectors seems to be coordinate bound.

#### Steps to reproduce the problem:
![image](https://user-images.githubuserc

[2019-02-20 16:02] rubensworks commented on #156
So, a couple of things:

Limits must be enforced on the energy storage, so this sounds like an EIO issue.

That's correct. In fact, _all_ ID logic happens in a certain order, which is defined by coordinates.

Are you sure this happens only with omni-connectors? I've heard of issues before with EIO capacitors because they may doing some strange things with their energy storage interface. What happe

[2019-02-20 17:03] MrSpencerRecor opened #157 "Leaving area of energy importer unselects variable card"
#### Issue type:

- :bug: Bug if I leave the area of an energy importer, it turns the importer red and unselects the variable card.

____

#### Short description: If i have a variable card in the "import energy slot" either blank or always set to true, it'll unselect if I go far away and no longer send energy from the energy battery.

1.set up a battery with importer and logic cable on the battery

[2019-02-21 07:39] rubensworks commented on #157
I haven't seen this problem in a long time. This means that the part somehow got corrupted. I don't see anything indicating in your logs, so I don't have any clue at the moment what would be causing this.

Can you reproduce this problem consistently? If so, can I send you a dev build that outputs additional debug logs in a couple of days to help me debug the issue?

[2019-02-21 17:06] MrSpencerRecor commented on #157
Oddly enough; i've tried multiple times, and cant replicate it in any world. One of the weirdest bugs i've ever experienced. So i'm not sure if it's even fixable on your end. I can break all the blocks and replace and it still happens. I can spawn in the blocks needed and it still happens. But only in this world. It's strange.

[2019-02-21 17:52] rubensworks commented on #157
Perhaps I should rephrase my question more clearly:

In your current test world, can you make the bug appear consistently when unloading/reloading the chunk? If so, can I send you a dev build that outputs additional debug logs in a couple of days to help me debug the issue?

[2019-02-21 19:55] #150 closed, assigned to nobody

[2019-02-27 06:03] shymian opened #158 "Item Import Amount >64 voids qty's above 64"
#### Issue type:

- :bug: Bug

____

#### Short description:

Using an Item Importer, with aspect Item Import Amount, and a variable card >64 will void items.
 It will extract the full quantity set on the variable card, but only insert 64 items, voiding the remaining amount.  Previously you could extract >64 units by using high variable card amounts (I was running 16k) from mods like Storage Drawe

[2019-02-27 07:19] rubensworks commented on #158
Please try again with the latest IT (and cyclops mods) versions. This should have been fixed already.

[2019-02-27 10:06] rubensworks commented on #157
@MrSpencerRecor Bump. Would love to fix this issue.

[2019-02-27 12:31] tommyTT commented on #157
Hey there, I would be interested to help tracking down this problem. Yesterday I encountered a similar behavior in my Enigmatica 2 Expert world when some of my networks got "corrupted". This happened a few times before, but I could never determine what actually caused it. Yesterday for the first time I actually saw the "Network corrupted" message, before that I can only remember seeing the red bor

[2019-02-27 12:50] rubensworks commented on #157
@tommyTT Thanks for being willing to help! :-)
I'll send you a debug version soon.

[2019-02-27 16:17] shymian commented on #158
Still happens on latest versions when moving between Storage Drawers.

Test Setup Mods:
  Chameleon-1.12-4.1.3
  CommonCapabilities-1.12.2-2.0.4
  CyclopsCore-1.12.2-1.0.5
  IntegratedDynamics-1.12.2-1.0.7
  IntegratedTunnels-1.12.2-1.6.7
  ProjectE-1.12.2-PE1.4.0
  StorageDrawers-1.12.2-5.3.8

Log: https://paste.ee/p/Txwu4

[2019-02-27 16:21] rubensworks commented on #158
Thanks for checking, will try to look into it soon.

[2019-02-27 18:06] rubensworks commented on #157
Ok, the seems to be that somehow parts become corrupted.
In fact, I already built in a workaround for this, which is why you may be seeing things like this in your logs:
[code]

However, it looks like the repair job fails sometimes.

In order to figure out where these things are occurring, I've added a stack dump each time such a repair job is being performed.

@tommyTT @MrSpencerRecor Could you t

[2019-02-27 18:35] tommyTT commented on #157
I'm able to reproduce this now with only the Integrated Dynamics and Tunnels mods as well as their dependencies installed. I updated my testing instance with the newest builds from the repo and I see the mentioned statements in the debug log:

https://paste.ee/p/xQ9Vs

The way I reproduce it:
1. Start a new world and go outside the spawn chunks.
2. I have used a setup like in the following picture

[2019-02-27 18:37] rubensworks commented on #157
@tommyTT It looks like you were too quick to download the dev build, it was still being built appartently, my bad.
Can you try again with build 1301? That one includes the stack traces.

[2019-02-27 18:41] tommyTT commented on #157
No problem, same result with that build and here is the new log:

https://paste.ee/p/syi0t

<blockquote><img src="https://paste.ee/img/icon.png" width="48" align="right"><div>Paste.ee</div><div><strong><a href="https://paste.ee/p/syi0t">View Paste syi0t</a></strong></div><div>Paste.ee - View Paste syi0t</div></blockquote>

[2019-02-27 18:42] rubensworks commented on #157
Thanks! I can see the stacktraces now.

[2019-02-27 18:54] rubensworks commented on #157
The stacktraces were less useful than I hoped. I've prepared a new build that prints some more information. @tommyTT Could you share your log again with the following build? https://www.dropbox.com/s/9bvs64igk8a9d86/IntegratedDynamics-1.12.2-1.0.7-DEV.jar?dl=0

<blockquote><img src="https://www.dropbox.com/static/images/spectrum-icons/generated/content/content-unknown-large.png" width="48" align="

[2019-02-27 18:59] tommyTT commented on #157
Here is the new log:

https://paste.ee/p/sPpbx

<blockquote><img src="https://paste.ee/img/icon.png" width="48" align="right"><div>Paste.ee</div><div><strong><a href="https://paste.ee/p/sPpbx">View Paste sPpbx</a></strong></div><div>Paste.ee - View Paste sPpbx</div></blockquote>

[2019-02-27 19:24] rubensworks commented on #157
@tommyTT Here is a new build that _may_ fix the issue: https://www.dropbox.com/s/8mt2bk4eawt7k7s/IntegratedDynamics-1.12.2-1.0.7-DEV-.jar?dl=0

In case it does not fix the issue, I've included some more debug output to figure out the next step. In case the problem isn't solved for you, can you share your logs again?

(I'm off for today btw)

<blockquote><img src="https://www.dropbox.com/static/ima

[2019-02-27 19:28] tommyTT commented on #157
Seems good so far. I will test a bit more and report back. Thanks for your efforts.

[2019-02-27 19:52] tommyTT commented on #157
After more testing there is still an issue. The tunnels don't show the error state any more but they still stop working. Taking the variable card out and putting it back in helped "restarting" the network before, that no longer works. Instead I have to remove a part of the network and replace it - in my case a cable.

This is my testing setup now (again, way outside the spawn chunks):
https://imgu

[2019-02-28 07:01] rubensworks commented on #157
@tommyTT Is that testing setup in an environment with only ID+IT? If so, could you share that world with me?

[2019-02-28 07:22] tommyTT commented on #157
Yes, here is a world that is prepared for you:
https://cp.sync.com/dl/706ba3490#ijfqnmgy-4kunnmnq-g5ndppmd-zk49zmp3

On spawn you should see a command block that teleports you a 1000 blocks away where the setup is located. The command block you find there teleports you another 1000 blocks away, where you find one more command block that teleports you back again.
Steps to reproduce it:
- Take the v

[2019-02-28 07:28] rubensworks commented on #157
Great, thanks a lot @tommyTT! That should definitely allow me to properly resolve the issue.
I won't be able to look into this before next week though.

[2019-02-28 08:02] tommyTT commented on #157
A quick look at the recent changes, I found [this](https://github.com/CyclopsMC/IntegratedDynamics/commit/affaab44aa342b1865882af4674375cefe8dfd87#diff-c304e98a89e7c86f12a6cc81eda7a484L79) commit that would explain the behaviour. Before the change, the variables were read from inventory, which is correctly deserialized. Now it only reads the variable cache but that is never re-initialized after re

[2019-02-28 08:04] rubensworks commented on #157
Indeed, that's definitely related to the problem. In the dev build I have to you I added a `variableContainer.refreshVariables` call before the variable cache loop in case it was empty. Unfortunately, it does not seem to resolve the problem completely, so there is something else (possibly related) going wrong somewhere.

[2019-02-28 15:55] rubensworks commented on #157
@tommyTT For reference, I just pushed a commit that includes the (partial) fix that you have in your dev build. If you're feeling adventurous, feel free to experiment further with the code related to that. I'll try to get back to this next week.

[2019-03-03 05:16] FallenEagle1 commented on #156
Sorry, got sidetracked by things. Input, I'll look into getting an issue open with Eio, will do some more testing for that then, to see if the capacitor banks exhibit this with other mods. As far as I was aware, ID/IT was the only mod it seems to be happening with, so thought it was something with these. It seems like a different I can't even get the input issue to replicate, so not sure what was

[2019-03-05 11:57] blinkinglight opened #159 "Player Simulator wont apply mekamism upgrades"
enigmatica 2 expert IT 1.12.2-1.6.7 https://www.youtube.com/watch?v=5M83nWwpoYU

[2019-03-05 13:17] rubensworks commented on #159
Please use the proper issue template.

[2019-03-05 14:04] blinkinglight commented on #159
____

#### Short description:

#### Steps to reproduce the problem:

(seed video for details)
make variable card with "list" of mekanism upgrades "item" tier 1, tier 2 tier 3. put into slot "click items" attach chest with item interface. (see video for configuration). place osmium compressor and ... nothings happens. (tried rr on/off and other settings - nothing )

#### Expected behaviour:

i thin

[2019-03-08 19:34] #157 closed, assigned to nobody

[2019-03-08 19:35] rubensworks commented on #157
The fix wasn't too complex after all. Thanks a lot for your help @tommyTT! This helped a lot :-)

Feel free to try out the latest ID dev build.

[2019-03-08 19:56] rubensworks commented on #158
Note to self: this only occurs with importer->interface, but not for interface->exporter.

[2019-03-10 10:17] tommyTT commented on #157
No problem, I'm happy to help out. I tried the latest dev build and couldn't find any problems. Thank you for your work!

[2019-03-10 11:09] #158 closed, assigned to nobody

[2019-03-10 13:48] rubensworks commented on #159
Ah, no, that is not the intended behaviour.

The only thing that the list will do, is specify a whitelist. Each slot will be checked for this whitelist separately. For example, if any of the items can be found in slot 0 of a chest, then that item will be picked, regardless of its position in the list.

So you are responsible yourself for making sure the items in the chest are in the correct order.

[2019-03-10 13:48] #159 closed, assigned to nobody

[2019-03-10 15:31] blinkinglight commented on #159
i thought, that it will iterate over card list and then checks inventory and if yes then tries to apply it.

[2019-03-10 15:46] blinkinglight commented on #159
as you can see in video, i placed update into chest in same order as card list but they wont apply till i pickup some item in chest and puttin it back. looks like it starts working on strande chest event. not then they are placed but then they are taked.

[2019-03-10 16:07] blinkinglight commented on #159
if i place items manualy in right order from chest slot 1 not 0 - it works because it moves 1 slot item to slot 0

[2019-03-11 07:37] rubensworks commented on #159
I'm having a really hard time understanding what you mean. In the video, things seem to work as intended.

[2019-03-13 18:03] rubensworks commented on #156
@FallenEagle1 I'm sorry, but this problem is still not fully clear to me. Could you provide a reproducible case (a world save would be great) where this error occurs with just Cyclops mods loaded?

(Honestly, I've been putting this issue off a bit due to the walls of texts, so it would be great if you could make your future comments a bit shorter and to the point :-) )

[2019-03-27 18:23] #156 closed, assigned to nobody

[2019-04-22 11:08] JoelNordh opened #160 "Card configuration causing crash, ArrayIndexOutOfBoundsException"
I'm playing sky factory 4 with integrated dynamics and I get a crash when trying to follow a guide on reddit
https://www.reddit.com/r/feedthebeast/comments/a0uacf/integrated_dynamics_filtering_by_name/
When doing as he suggests and doing the last step the game crashes.

I'm not totally sure I've done the list correctly but anyhow the game shouldn't crash.
[crash-2019-04-22_13.05.32-server.txt](htt

[2019-04-22 11:12] rubensworks commented on #160
Thanks for reporting, but could you please follow the issue template, I need the mod versions.

[2019-04-22 13:33] JoelNordh commented on #160
Hi,
I'm sorry I didn't see the template. Here is the template information

#### Issue type:

- :bug: Bug

____

#### Short description:

A certain configuration causes the game to crash

#### Steps to reproduce the problem:

Follow the instructions in the answer in this link https://www.reddit.com/r/feedthebeast/comments/a0uacf/integrated_dynamics_filtering_by_name/
When putting in the card in an

[2019-04-28 01:36] Targren commented on #153
I just tested with Astral Sorcery 1.10.17 and Integrated Dynamics/Tunnels 1.0.11/1.6.8 and it looks like it's working as expected now, so whatever was causing it doesn't seem to be around in the latest versions.

[2019-04-28 01:36] #153 closed, assigned to nobody

[2019-04-29 10:18] #160 closed, assigned to nobody

[2019-05-04 01:56] FlexibleGames opened #161 "Auto-save Item Interface settings on exit"
#### Issue type:
- Bug
____
#### Short description:
Opening and changing the channel on an item interface does not save when you exit the UI. Reopening it again shows the channel as 0, regardless of what you set it to.
#### Steps to reproduce the problem:
1. right click an interface
2. set channel to something other than 0 and exit the ui
3. reopen the ui to find the channel back to 0

#### Expect

[2019-05-04 02:07] FlexibleGames commented on #161
Okay, yeah, there's a save button, but I thought with how it was placed it was only for the "Target Side" value, for some reason.

[2019-05-04 07:02] rubensworks commented on #161
I can actually make it auto-save when you leave the gui, which is how it's already being done in some other guis.

[2019-05-11 12:03] yannprada commented on #122
Hi, maybe I should open another issue, idk.

Version: 1.12.2-1.6.7 (part of Sky Factory 4)

Setup:
- Input chest with an item interface
- 3 chests with item exporters, all set to:
  - export all items
  - transfer rate: 1
  - Priority respectively: -10, 0 and 10

Current behavior:
All items are spread almost evenly in the output chests, regardless of priority.

Intended behavior:
All items should

[2019-05-12 01:45] UberVoyager commented on #122
Yup, having exactly the same problem as yannprada. Priority setting not making any difference when working with multiple chests. Also on the latest version in Sky Factory 4.

[2019-05-12 06:26] rubensworks commented on #122
@yannprada As far as I understand your description, this works as intended. The priority only indicates the order in which each exporter ticks. Since you've set transfer rate to 1, each exporter will move 1 item per tick. But if there is more than one item in the input chest, then it is normal that the items are spread evenly over the chests.

What you probably want, is to reverse the parts (make

[2019-05-13 06:50] yannprada commented on #122
Thanks for your answer.

As for my chest setup, once I revert the tranfer rate back to 64, the whole stack moves to the chest with the highest priority (10).
Except the first time. Idk why, but the first test yielded with the stack in the priority 0 chest. Maybe the network tried to send the stack without detecting all the exporters ? (idk how it's coded, so blind guess here ^^)

The setup you pro

[2019-05-17 22:22] rasm945i opened #162 "Crash when inserting items into Real Filing Cabinet using Item Interfaces and Importers"
#### Issue type:

- :bug: Bug

____

#### Short description:

I had made a really detailed description, but I accidentally closed the tab.... I didn't put as much effort into this one, sorry.
The Modpack I'm using is SkyFactory 4.0.5.
My server crashes when Item Interfaces insert items into a Real Filing Cabinet.
I also noticed that Sticks and Oak Logs wasn't pulled, even tho I have a Filing Cabin

[2019-05-18 05:06] rubensworks commented on #162
This seems to be an issue with Real Filing Cabinet:

    at com.bafomdad.realfilingcabinet.inventory.InventoryRFC.insertItem(InventoryRFC.java:42)

Could you report it over on their issue tracker?

[2019-05-18 07:58] rasm945i commented on #162
Yes sir :)

On Sat, May 18, 2019 at 7:06 AM Ruben Taelman <notifications@github.com>
wrote:

[2019-05-23 06:04] GreyMario opened #163 "Items exposed by Exporters for use in external item handlers always channel 0 despite Exporter's channel"
#### Issue type:

- :bug: Bug

____

#### Short description:

When an Item Exporter is used to expose inventory for another device to take over (other mod pipes, reading the contents of a network, et cetera), it always exposes channel 0, and not the channel selected in the Item Exporter. If allowed to export by itself, will correctly obey selected channel.

#### Sample build to reproduce:

![](htt

[2019-05-23 06:23] rubensworks commented on #163
This is not really a bug, but just not yet a feature :-)

Related to #75, which I hope to implement for at some point.

[2019-05-23 06:35] GreyMario commented on #163
Exposing the wrong channel isn't a bug? That... _can't_ be right. Regardless, it's definitely a problem, since it shuts down logically reading the contents of a non-zero channel.

[2019-05-24 19:28] rubensworks commented on #113
Just tested this again in the latest ID version (1.0.13), and this seems to be working properly now.

[2019-05-24 19:28] #113 closed, assigned to nobody

[2019-05-27 04:47] hnOsmium0001 opened #164 "Interface GUI field "Facing" has an incorrect Z-level"
#### Issue type:

- :bug: Bug

____

#### Short description:

![2019-05-26_21 42 02](https://user-images.githubusercontent.com/36975818/58396038-cb8e4f00-7fff-11e9-9c37-f7494c9c660b.png)

#### Steps to reproduce the problem:

1. Place down some sort of interface
2. Open its GUI, clear the `Facing` field, and the list will show up under other fields.

#### Expected behaviour:

The list should be re

[2019-05-27 04:49] hnOsmium0001 commented on #164
I have never used `GL_DEPTH` before, and I'm not sure if using it would work.
The other way to fix it would be adding a "post-drawing tasks" list, and draw the list after everything else.

[2019-05-27 15:35] #164 closed, assigned to nobody

[2019-05-27 18:38] Lanse505 opened #165 "[Bug/Crash]: Integrated Tunnels Crashing due to what seems to be Null PartState references."
#### Issue type:

- :bug: Bug

____

#### Short description:
Pretext: We are using Sponge and are actively working on debugging any sponge related issues ahead of time and providing information on how to fix sponge related issues to server networks who are going to be using this pack.

Tagging @gabizou in-case he has anything to interject with in regards to this issue.
Or if any questions regardin

[2019-05-28 06:14] rubensworks commented on #165
That's odd. The only explanation I have is that there's some kind of chunkloading issue when spongeforge is used. I'll have a look at it soon.

[2019-05-30 12:54] rubensworks commented on #165
@Lanse505 I may have a fix for this problem, could you try out IT build 329 to see if this fixes your problem? (see readme for link to dev builds)

[2019-05-30 12:57] Lanse505 commented on #165
Ill have our server owner throw it on the dev server. Ill get back to you once I have an answer to if its fixed

[2019-05-30 21:55] gabizou commented on #165
Ah hi, yes, I've got an explanation for why a chunk seemingly is having an issue, it may be that when there's a request for a chunk load during [specific states of the game, Sponge goes to deny those requests with an empty chunk](https://github.com/SpongePowered/SpongeCommon/commit/9aebb5b80d1760ec5715cd6f99fe3e301685ec5f). The reasoning behind this is that performance of Chunk GC'ing (unloading)

[2019-05-31 05:42] rubensworks commented on #165
Thanks for the information @gabizou! If @Lanse505 still has problems with the latest IT dev build, I'll give you some more information regarding part state checking.

[2019-06-05 13:31] troneleck opened #166 "Dublication / Exchange Bug with AE2"
#### Issue type:

- :bug: Bug

____

#### Short description:

AE2 Storageinterface to Tunnel Storageinterface ends as Item Exchanger.

#### Steps to reproduce the problem:

1. AE2 Contreoller + terminal + power
2. AE2 cable and on his end a storage interface
3. a chest 1 block away from the interface
4. Tunnel interface on chest
5. Integrated d. cable on chest interface
6. put unwantet items in th

[2019-06-06 00:31] Naosyth opened #167 "Piping items in to an item importer causes lag"
#### Issue type:

- :bug: Bug

____

#### Short description:

Piping items in to an importer causes lag. In my case, the world would go from < 3 ms/t to over 30 ms/t, even spiking to 60 ms/t. Piping them in to a chest and then importing them from the chest using an item importer immediately resolved my lag.

#### Steps to reproduce the problem:

1. Pipe items in to item importer set to import all

[2019-06-07 07:22] rubensworks commented on #167
@Naosyth Could you share your profiling output as described here?: https://github.com/CyclopsMC/CyclopsCore/blob/master-1.12/.github/CONTRIBUTING.md#performance-issues-snail

<blockquote><img src="https://avatars2.githubusercontent.com/u/11808375?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://gi

[2019-06-07 07:24] rubensworks commented on #166
@troneleck I'm sorry, but I don't really understand this issue.

Is this an IT issue? Or a mod compatibility issue?
If the latter, why do you think IT is causing the problem?

Could you perhaps share a video of the problem?

[2019-06-07 17:37] Naosyth commented on #167
@rubensworks Sure:
[sample_piping_to_importer.zip](https://github.com/CyclopsMC/IntegratedTunnels/files/3267020/sample_piping_to_importer.zip)

This is my test set up, for reference, piping in a steady steam of cobblestone:
![image](https://user-images.githubusercontent.com/1323992/59122672-2d0fc100-8910-11e9-879f-0397ef0b1218.png)

While the servo was active, the time per tick for that dimension

[2019-06-07 20:24] troneleck commented on #166
![Basic-setup](https://user-images.githubusercontent.com/17239456/59131226-15692480-8972-11e9-954a-d00994c08efd.png)

The basic setup.

![Basic-setup-items-inside-chest](https://user-images.githubusercontent.com/17239456/59131240-1f8b2300-8972-11e9-9ac4-42cde4652533.png)

Items inside the chest.

![Last-connection](https://user-images.githubusercontent.com/17239456/59131258-2ade4e80-8972-11e9-8aaa